[2020-11-28 05:29] interstateone opened #1 "Authentication"
- [x] Match xcodes support: password and 2FA, not the older two-step.
- [x] The sign in UI should be similar to the one used in Xcode > Preferences > Accounts
- [x] Allow signing out in preferences
- [x] Save credentials in the keychain after signing in

[2020-11-28 05:31] interstateone opened #2 "Update available Xcodes"
- [x] There should be a refresh control and menu item
- [x] This should happen automatically when other actions have been performed if a certain duration has passed since it was last updated
- [x] We have code from xcodes that already does this, but which will need to be converted from PromiseKit to Combine.
- [x] The bigger question is whether we should use the data from [Xcode Releases](https://

[2020-11-28 05:32] interstateone opened #3 "List available Xcodes"
- List available Xcodes
- Indicate which are installed

[2020-11-28 05:33] interstateone opened #4 "Install an Xcode"
- Support concurrent installs
- Cancel individual installs
- Show progress, both the steps in the installation process and progress within them if appropriate (probably just downloading)

[2020-11-28 05:33] interstateone opened #5 "Uninstall an Xcode"

[2020-11-28 05:33] interstateone opened #6 "Select an Xcode"
- Indicate which version is selected in the list
- Allow selecting another installed version with a list item context menu and menu item

[2020-11-28 05:34] interstateone opened #7 "Reveal the selected, installed Xcode in Finder"

[2020-11-28 05:34] interstateone opened #8 "Support installation in an alternative directory"
- Xcodes should support managing Xcode versions in a single directory, which defaults to /Applications
- Advanced preference pane should contain a field that displays the current directory. This should be stored in UserDefaults / AppStorage.
- Xcodes should install new versions into this directory
- Xcodes should detect installed versions in this directory

This should match the functionality of `

[2020-11-28 05:34] interstateone opened #9 "App icon"

[2020-11-28 05:34] interstateone opened #10 "About window"
- Include 3rd party license acknowledgements

[2020-12-23 14:35] interstateone opened #13 "Software update mechanism"
xcodes primarily uses homebrew for installation and updates, and while it might be possible to have a cask for Xcodes.app (I haven't looked into this) I think it'd be good to have something built in. We could probably have it check the GitHub repo's releases. I'm guessing someone has built something like this already, so check before we go down the path of rolling our own.

Possible resources:

-

[2020-12-23 15:56] interstateone opened #14 "2FA security code text fields clip digits"
Example:
![103012347-15535a00-4501-11eb-9fb2-57f0e948c6b1](https://user-images.githubusercontent.com/594059/103013233-02895700-44fa-11eb-9f31-675e13bf588b.png)

The expected behaviour is for all of these text fields to be the correct size to contain the largest digit character without clipping. Each character should be centred to handle narrower characters.

[2020-12-23 16:21] MattKiazyk opened #15 "2FA Screen: Disable button/spinner while sending"
From #11 I've tapped the continue button a few times, thinking it didn't do anything.

Disable the button when an action is done, or spinner, something to let the user know it's trying.

[2020-12-24 06:03] #1 closed, assigned to interstateone

[2020-12-24 06:29] interstateone opened #17 "Display aggregate installation progress in dock icon"
At a minimum, Xcodes should display an appropriate overlay on the dock icon when one or more versions are being installed. This could be modelled as a boolean internally.

A fancier implementation of this could provide richer indication of the aggregate installation progress, perhaps through a tree of Progress objects for all versions that are being installed, and each step within their installati

[2020-12-27 01:53] #10 closed, assigned to interstateone

[2020-12-27 18:06] interstateone opened #22 "Improve experience when an error requires the user to authenticate"
Currently:

1. Sign out
2. Refresh
3. Note that an invalid session error alert is shown, as well as the sign in UI in preferences

Instead of showing both of these at the same time without explanation, we probably want to do something like one of these options:

- Show the error alert with a Sign In button that shows the sign in UI. There should be a way to indicate that certain errors require the

[2020-12-28 01:47] interstateone opened #25 "Determine InstalledXcode version based on build version alone when using Xcode Releases data"
The scraped data from Apple rarely has the build versions. As a result, `InstalledXcode.init?(path:)` and `Version.isEquivalentForDeterminingIfInstalled(toInstalled:)` are relying on the naming scheme of Xcode versions on disk in order to reliably determine its specific version. Xcode Releases _does_ have these build versions, and so if that's the current data source we could probably make this co

[2020-12-28 03:38] #14 closed, assigned to csykes

[2020-12-28 03:39] #15 closed, assigned to csykes

[2020-12-28 06:17] #2 closed, assigned to interstateone

[2020-12-28 16:54] interstateone opened #28 "Make sure we build a universal binary"
I haven't looked into this yet so I don't know what's involved, but I don't want to forget.

https://developer.apple.com/documentation/xcode/building_a_universal_macos_binary

[2020-12-28 17:36] #3 closed, assigned to interstateone

[2020-12-28 17:36] #7 closed, assigned to interstateone

[2020-12-28 20:08] interstateone opened #30 "Make logging more consistent"
We should use the unified log, probably via os_log, for the helper because it doesn't have a debugger connected during development. For the main app we should also use os_log so we can see it interleaved with the helper in Console.app, and maybe also printing to Xcode's console for the convenience of folks that don't care about the helper at the time. I can't recall if os_log also prints to Xcode'

[2020-12-28 20:11] interstateone opened #31 "Add .help(_:) modifier to appropriate controls"
https://developer.apple.com/documentation/swiftui/view/help(_:)-4y7cy#

[2020-12-29 03:00] #6 closed, assigned to interstateone

[2020-12-30 21:23] csykes opened #35 "Improve SignIn/Authentication Errors"
Given a user is trying to authenticate with Apple via the Xcodes.app
When they enter an incorrect code OR their account is locked out OR some other typical errors
Then we should show a meaningful error message that helps the user figure out what's wrong

Today, our alerts are showing a bunch of HTTP/JSON information which is not user friendly...

<img width="260" alt="Screen Shot 2020-12-30 at 2 2

[2020-12-30 21:48] #31 closed, assigned to MattKiazyk

[2021-01-03 17:21] #28 closed, assigned to interstateone

[2021-01-03 21:00] #5 closed, assigned to MattKiazyk

[2021-01-03 23:23] interstateone opened #43 "Indicate that a .xip was downloaded but hasn't been installed yet"
One of the more common failures I run in to is downloading the .xip and then not having enough space to unarchive it. Perhaps this could be indicated in the Xcode list UI somehow, so that it's clear that installing will continue from where it left off.

For example, we could use one of the shipping box symbols beside the Install button, with a `.help(_:)` modifier explaining what it indicates.
![S

[2021-01-09 00:19] interstateone opened #48 "Updating AppState.allXcodes and other version comparisons aren't working well"
This is a bit of a junk drawer for issues like:
- https://github.com/RobotsAndPencils/XcodesApp/pull/44#issuecomment-755373305
- https://github.com/RobotsAndPencils/XcodesApp/pull/44#issuecomment-756783640
- Making sure the correct Xcode version is installed when you click it
- Determining which available Xcode versions are installed, for both data sources

Part of the problem is that the Apple da

[2021-01-09 17:16] interstateone opened #51 "Add Internet Access Policy"
https://www.obdev.at/iap/index.html
https://help.obdev.at/littlesnitch4/ra-developers

[2021-01-13 04:02] #4 closed, assigned to interstateone

[2021-01-13 04:54] interstateone opened #53 "XPC not working immediately after installing the helper"
Might need to invalidate the connection after installing, [for example](https://github.com/erikberglund/SwiftPrivilegedHelper/blob/1461f37c783327b9b4d1e02ea201f4305210455b/SwiftPrivilegedHelperApplication/SwiftPrivilegedHelperApplication/AppDelegate.swift#L279-L280).

[2021-01-15 02:26] #9 closed, assigned to senmu

[2021-01-16 07:48] senmu opened #57 "After uninstalling an Xcode, the leftover action is "Open""
After uninstalling a version of Xcode, the icon beside the corresponding version disappeared, but the CTA showed as "Open". This seemed a bit confusing as I thought I removed it, and clicking "Open" resulted in nothing.

[2021-01-16 20:04] #48 closed, assigned to interstateone

[2021-01-16 20:30] #30 closed, assigned to interstateone

[2021-01-17 17:51] #57 closed, assigned to nobody

[2021-01-20 03:26] #53 closed, assigned to interstateone

[2021-01-20 05:57] interstateone opened #63 "Social preview image"

[2021-01-20 05:59] interstateone opened #64 "Add installation instructions that link to the latest release"
These instructions should be marked as recommended, and placed above any instructions for building from source. Building from source can be folded, like in https://github.com/RobotsAndPencils/Xcodes#installation

[2021-01-20 15:46] #13 closed

[2021-01-20 18:23] #64 closed

[2021-01-20 18:26] interstateone opened #65 "Add a Homebrew cask"
https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md

[2021-01-20 18:29] interstateone opened #66 "Prepare the user for helper installation alert before attempting it"
This would be similar to what a lot of mobile apps do for location services permission. I'm imagining this will look something like: an alert that we show first, explaining what the helper is and why it's necessary, and only if they consent would we attempt to install the helper. If they decline then we don't attempt the install. The copy in Preferences > Advanced is probably close to what we'd sh

[2021-01-20 21:06] civatrix opened #67 "Prerelease versions are shown when "Include prerelease versions" is unchecked"
On first launch of the app I noticed all the beta and release candidate versions were listed. I looked for a way to hide those and only show full release versions. The closest option I could find was `Updates -> Include prerelease versions` which was already unchecked. Maybe this is because I was using the command line tool previously?

[2021-01-20 21:12] civatrix opened #68 ""Make Active" button doesn't work until after restarting app"
I installed the privileged helper from the options menu but the `Make active` button continued to do nothing until after I quit the app and reopened.

[2021-01-20 21:14] interstateone commented on #67
The Updates preference pane, including that checkbox, is for software updates of Xcodes itself, but I can see now how this might not be clear. Perhaps we can change the copy in that pane to resolve this.

There is currently no way to filter the list of Xcode versions to only show release versions, which matches the behaviour of `xcodes`.

[2021-01-20 21:17] civatrix commented on #67
That makes sense. Maybe include the word `app` in the descriptions?

`Automatically check for app updates`
`Include prerelease app versions`

[2021-01-20 21:17] MattKiazyk opened #69 "Install helper error shown multiple times after cancel install"
Issue:
If I hit cancel on the privileged helper I shouldn't be prompted multiple times saying it couldn't communicate with helper app. It should just cancel

RepoSteps:

1. Tapped `Make Active`
2. Hit cancel on the prompt

![image](https://user-images.githubusercontent.com/1119565/105238889-5061a100-5b32-11eb-8780-16d665332f3b.png)
3. Prompted multiple times with error
![image](https://user-images

[2021-01-20 21:25] MattKiazyk opened #70 "Install instructions should instruct user to move app to /Applications"
Got this message after checking `Include prerelease versions`

![image](https://user-images.githubusercontent.com/1119565/105241573-7b002980-5b33-11eb-87c8-7919d20fc0e0.png)

[2021-01-20 21:28] interstateone commented on #70
Ah, good catch, I forgot about this in #13. I don't know if this is the best implementation but we probably want something like this included in the app https://github.com/potionfactory/LetsMove/.

[2021-01-20 21:30] MattKiazyk opened #71 "Filter/info pane doesn't persist across app closes"
Issue:
If I tap on the filter or the info pane, it should persist across app loads

![image](https://user-images.githubusercontent.com/1119565/105243135-3de86700-5b34-11eb-8612-b63b86c7e894.png)

Repro Steps:
1. Set the filter on, or the info pane on
2. Close the app, reopen
3. App shows all versions again

This _was_ working previously.

[2021-01-20 21:30] interstateone commented on #69
👍 This might be done as part of #66 but we can track it separately. We need to actually return whether installation succeeded from HelperClient.install so whatever was waiting on it can proceed or abort. Right now the things that require the helper will proceed after it's done blocking the queue regardless of whether it worked or not.

[2021-01-20 21:49] MattKiazyk opened #72 "When using apple data source remove brackets"
Issue:

When using the Apple data source, the build # isn't included, which looks awkward on the views

![image](https://user-images.githubusercontent.com/1119565/105245030-f3b4b500-5b36-11eb-9006-d10ce3a042e8.png)

Possible to remove the brackets if we don't know the build #?

[2021-01-21 03:18] interstateone commented on #71
Okay this is weird, and feels like a bug with SceneStorage on macOS.

I have a minimal sample project to test this out, which matches what I see with Xcodes. If I stop the app with Xcode, or force quit or `killall`, the next launch will restore the SceneStorage state. If I quit the app normally (⌘-Q) and then re-run it with Xcode, it won't restore the state. This also happens when not running from

[2021-01-21 04:10] #67 closed

[2021-01-21 04:32] #63 closed

[2021-01-21 14:57] MattKiazyk opened #76 "Changes are being published on a background thread"
**Describe the bug**
Xcode is warning about a `Publishing changes from background threads is not allowed; make sure to publish values from the main thread (via operators like receive(on:)) on model updates`

Related to #66  and #69

**To Reproduce**
1. Tap `Make Active`
2. I got prompted for password for installing helper tool
3. Hit cancel
4. Xcode gives warning

**Expected behavior**
Xcode shoul

[2021-01-21 15:18] #72 closed

[2021-01-23 03:06] interstateone commented on #25
This was completed by #49. The combination of Version.isEquivalent(to:) and InstalledXcode.init?(path:) will have this behaviour.

[2021-01-23 03:06] #25 closed

[2021-01-23 18:22] interstateone opened #77 "Catch and reword xip's "not enough free space" error"
**Tell us how we can improve Xcodes**

When the volume doesn't have enough space to expand a .xip archive, the `xip` command used under the hood will fail.

From the logs:

This is the alert that is currently shown:

![Screen Shot 2021-01-23 at 11 17 25 AM](https://user-images.githubusercontent.com/594059/105610490-0b757e80-5d6d-11eb-85d0-a2d210ca9ca1.png)

This is one of the most common errors I

[2021-01-23 21:44] interstateone commented on #71
I've submitted feedback for this: FB8979533 "SceneStorage doesn't restore value after app is quit by user"

[2021-01-23 22:00] #71 closed

[2021-01-23 22:00] #77 closed

[2021-01-23 22:00] #69 closed

[2021-01-23 23:23] #70 closed

[2021-01-23 23:23] MattKiazyk commented on #76
Looks like this isn't happening anymore from `main`. Most like changes from #80

[2021-01-23 23:23] #76 closed

[2021-01-23 23:25] interstateone opened #83 "Instruct user to move app to /Applications if launched from somewhere else"
**Tell us how we can improve Xcodes**

Instruct user to move app to /Applications if launched from somewhere else.

**Is your feature request related to a problem? Please describe.**

Sparkle updates can fail otherwise (#70).

**What would you like to see? How would you like it to work?**

Something like this, which is common for macOS apps distributed outside the Mac App Store: https://github.com

[2021-01-26 01:33] #66 closed

[2021-01-26 01:43] interstateone commented on #68
I can't reproduce this with the latest commit on `main` (9a2057bcd5a3d4e6ebcc1c272b2b5a855c398b59), but I'm going to leave it open for a few days after the next release in case it's a "works on my computer" situation.

[2021-01-26 14:41] MattKiazyk opened #88 "Preferences Window is shown multiple times"
**Describe the bug**
The preferences window can be created multiple times. That isn't that bad amongst itself, however when you start presenting alerts on it, you can end up with multiple windows showing multiple alerts.

![image](https://user-images.githubusercontent.com/1119565/105859218-e160ce00-5fb1-11eb-8c40-f60518a731e0.png)

**To Reproduce**
1. Go to menu and open up preferences
2. Go back

[2021-01-28 15:52] paulthorsteinson opened #90 "Identical builds aren't represented clearly"
Hi!
I installed the app and ran it and noticed it was out of date as it didnt include 12.4 as my command line did
<img width="259" alt="Screen Shot 2021-01-28 at 8 46 56 AM" src="https://user-images.githubusercontent.com/331285/106163049-fc644700-6145-11eb-968b-5b13c614bd0a.png">
<img width="595" alt="Screen Shot 2021-01-28 at 8 48 56 AM" src="https://user-images.githubusercontent.com/331285/10616

[2021-01-28 16:18] interstateone commented on #90
Hey Paul! 👋 Thanks for opening this issue.

Regarding Xcodes.app vs xcodes, they might not show exactly the same versions right now because they're using different data sources. Xcodes.app defaults to use Xcode Releases, and xcodes scrapes the Apple Developer site, but will be switching in the next release to [also default to Xcode Releases](https://github.com/RobotsAndPencils/xcodes/pull/129). In

[2021-01-28 16:23] interstateone commented on #90
(Maybe the solution is: I'm overthinking it, just show two rows, users will see that the build identifiers are the same 😄)

[2021-01-29 00:29] #88 closed

[2021-01-29 04:04] #35 closed

[2021-01-29 18:12] MattKiazyk opened #91 "Ability to do an old Xcode Cleanup"
Every so often, we as developers need to clean up old simulators, archives, etc. because we run out of disk space.  It would be beneficial to provide this utility for the users of the app, so they can easily do this.  Many devs forget to do this, or have to search a few times a year.

There are many other apps, gists, etc and do this type of thing - https://apps.apple.com/us/app/devcleaner-for-xco

[2021-01-29 19:48] interstateone commented on #65
Added as cask token `xcodes` https://github.com/Homebrew/homebrew-cask/pull/99034

[2021-01-29 20:55] #68 closed

[2021-01-29 21:01] interstateone opened #92 "Make a newly-installed version active if it's the only installed version"
**Tell us how we can improve Xcodes**

Make a newly-installed version active if it's the only installed version.

**Is your feature request related to a problem? Please describe.**

No.

**What would you like to see? How would you like it to work?**

We currently do not automatically make versions active in any situation, and I think that's okay as 1) i'm not sure that all users would want to swit

[2021-01-29 21:07] interstateone opened #93 "Download step progress indicator tooltip doesn't update"
**Describe the bug**

Download step progress indicator tooltip doesn't update

**To Reproduce**

1. Install a version
2. Wait a bit until the download progress indicator is showing a reasonable amount of progress
3. Hover your mouse over the progress indicator so the tooltip is presented, and see that the percentage shown doesn't match the progress indicator

**Expected behavior**

The tooltip sho

[2021-01-31 00:27] kurisubrooks opened #94 "Display File Size in Info panel"
**Tell us how we can improve Xcodes**
Ideally, I'd like to be able to see the size of the Xcode release before downloading it (as I have a fairly limited data connection, so this information is important to me.)

**Is your feature request related to a problem? Please describe.**
No.

**What would you like to see? How would you like it to work?**
In the info panel, upon clicking a release, display

[2021-02-01 00:07] paulthorsteinson commented on #90
Thanks for the insight @interstateone!  I do think its important to distinguish if something is an actual release or not.  In this case, the Xcode's app shows 12.4 RC - when I see that I always think "I better check back in a few days in case they released a different version for the actual release".  While two rows would be a solution, that too is a bit weird as it make it seem as though they are

[2021-02-01 15:54] Kamik423 opened #96 "Increasing windows size vertically is laggy"
When increasing the size of the window vertically or diagonally it is very jumpy. Decreasing the size is fine.

**Version**
 - OS: 11.2 Beta
 - Xcodes: 1.0.3 (4)

[2021-02-01 15:57] Kamik423 opened #97 "Add progress to sidebar view as well"
When downloading it can tike quite a long time without any visible progress since the indicator is tiny. I would appreciate a bigger indicator (maybe a linear progress bar) being added to the sidebar, maybe even with a time remaining estimate for the step and a display for the current step.

I think the space between the cancel button and the horizontal etched line would be best for the progress b

[2021-02-02 03:06] #65 closed

[2021-02-02 16:27] jacobwhite opened #99 "Auto download"
I really hate waiting for Xcode to download and expand. Would be super cool if this app could check for new versions of Xcode and get the process going in the background so I do r feel like I’m having to wait so long.

[2021-02-04 13:59] MattKiazyk commented on #96
Hi @Kamik423 - I updated to 11.2 last night and don't seem to see any lag with the window resizing.

You indicated you were on the 11.2 beta - If you upgrade to 11.2 - does it still happen for you?

Thanks

[2021-02-04 14:13] Kamik423 commented on #96
I am updating right now. I tried it again on the beta: The lag is most noticeable while downloading an Xcode, but still discernible (but not strong) when not downloading something. Can you reproduce that?

[2021-02-04 17:43] Kamik423 commented on #96
It is much better on 11.2. But you can still see resize jump a bit when increasing window size while downloading and be perfectly smooth when decreasing it.

[2021-02-04 21:15] Kamik423 commented on #99
And then have options to either always download the latest beta or release version. And for checking every night or every hour and so on. I love it!

[2021-02-04 21:17] jacobwhite commented on #99
Yeah, maybe some options for how many old versions to keep around.

[2021-02-05 05:17] MattKiazyk opened #101 "Download will always use aria2. It should use the preference"
**Describe the bug**
In `AppState` when we go to download, the install is always set to aria -

`self.install(.version(availableXcode), downloader: .aria2)`

We should switch that to the AppStorage on the preferences

[2021-02-06 21:59] #101 closed

[2021-02-08 15:16] #90 closed

[2021-02-09 18:17] drmarkpowell opened #106 "No sign in UI presented with brew cask install on Big Sur 11.2"
**Describe the bug**
No sign in UI is presented

**To Reproduce**
Steps to reproduce the behavior:
Click to install an XCode, no sign in UI is presented, error alert is immediately displayed.

**Expected behavior**
A clear and concise description of what you expected to happen.
Some UI affordance to sign into Apple Developer Portal should appear

**Screenshots**
If applicable, add screenshots to h

[2021-02-10 16:24] #93 closed

[2021-02-18 08:56] jacobwhite opened #108 "Auto download"
I hate waiting for Xcode to download, would be super cool if the latest beta could download and extract itself as soon as it’s available, so it’s there ready and waiting for me when I need it.

[2021-02-18 14:25] interstateone commented on #108
Hey @jacobwhite, this is a duplicate of #99 right?

[2021-02-18 16:02] jacobwhite commented on #108
Oh yeah! I thought I’d made this request before but didn’t see it when I looked. Sorry about that lol

[2021-02-18 16:14] #108 closed

[2021-02-19 03:35] #97 closed

[2021-02-20 15:47] MattKiazyk commented on #106
Hi @drmarkpowell

Thanks for the ticket. I'm going to close this in favour of tracking it in #22

It's a known issue and it's not dependent on which way you install it from.

Thanks for letting is know and trying Xcodes!

[2021-02-20 15:47] #106 closed

[2021-02-20 21:40] Kamik423 opened #109 "Button color change on row select."
When using arrow keys to select a row the blue (OPEN) button will immediately turn white. But using the mouse will have a short lag which looks suboptimal and weird.

https://user-images.githubusercontent.com/16278233/108609160-692cd300-73cc-11eb-9989-1eb41371cd96.mov

**Version**
 - OS: 11.2 (20D64)
 - Xcodes: 1.0.3

[2021-02-20 21:46] Kamik423 opened #110 "Create alias for current active version at /Applications/Xcode.app"
I would love an option to always have the file in `/Applications/Xcodes.app` or the latest release version there and the latest beta in `/Applications/Xcodes Beta.app` or something similar. This would lead to the file not being removed from Dock.

Of course both these would have to be checked for existence first.

[2021-02-20 22:08] interstateone commented on #96
I spent a while trying to optimize the main list view, but SwiftUI.List seems to have various issues on macOS, and I think this might be one of them. I'd be curious to see if someone could make this better though.

[2021-02-20 22:18] interstateone commented on #109
Thanks @Kamik423, this was another SwiftUI.List thing that I wasn't able to figure out. The way selection behaves in NSTableView is generally "nicer", and for some reason when I tried to replicate the color updating, the SwiftUI.List selection state is updated on mouse up instead of mouse down. Like #96, I'd be curious to see if there's a way to achieve better behaviour while continuing to use Swi

[2021-02-20 22:25] interstateone commented on #110
Hey @Kamik423, that's a neat idea. I don't think Xcodes should install a version directly at those paths, but it could create an alias at those paths pointing at the current active (a.k.a. selected) version.

This is something that xcode-install does, and which we've considered for [`xcodes`](https://github.com/RobotsAndPencils/xcodes) as well.

A quick test of manually creating and changing an al

[2021-02-21 10:25] Kamik423 commented on #110
I like the alias idea.

[2021-03-02 13:23] pyby opened #112 "Ask admin credentials if Xcode installation in /Applications is not allowed"
As a developer, my Mac OS session runs with a "Standard" user.
I have an "Admin" user, if some actions require admin privilege, like installing Xcode application in the `/Applications` folder.

I tried to install Xcode 12.5 beta 2 with the application with `aria2`.
The zip was in the `Application Support` folder, and Xcode was unzipped.
But nothing happen to allow the installation in the `/Applica

[2021-03-05 14:28] MattKiazyk commented on #94
Hi @kurisubrooks

If you install the latest version of xcodes you'll see the download size is now in the info panel when using the Apple data source. When using the xcodereleases, it unfortunately is not, as that requires some changes to a 3rd party (open source) tool which I've created a PR for that will hopefully be accepted.

Furthermore however, once you start downloading, the file size does s

[2021-03-05 14:28] #94 closed

[2021-03-06 19:44] Kamik423 opened #113 "Line break before download time estimator"
I love the new download time estimations progress bar—however I'd suggest adding a line break before the estimate so it is not

[code]

and instead have them all on the second row, maybe even shorten to something like

[code]

or

[code]

when it gets over an hour so it is shorter does not break line length.

<img width="900" alt="Screen Shot 2021-03-06 at 20 36 39" src="https://user-images.github

[2021-03-10 03:26] jacobwhite commented on #99
Oh hell yeah!

[2021-03-10 14:28] #99 closed

[2021-03-10 14:28] #113 closed

[2021-03-11 01:32] MattKiazyk commented on #113
@Kamik423 - if you upgrade to the latest 1.0.5 - this should now be fixed.

Thanks for the suggestion.

[2021-03-11 01:32] MattKiazyk commented on #108
Included in 1.0.5 - let us know if you see any issues.

[2021-03-11 14:54] MattKiazyk opened #116 "Mac OS Notifications"
**Tell us how we can improve Xcodes**

As a user, I would like the option to enable notification, so I can be _notified_ when certain things happen on XcodesApp

Since we now have automatic installs, would be nice to be notified when it installed itself, or when there would be a new version to install.

**What would you like to see? How would you like it to work?**

![image](https://user-images.gi

[2021-03-29 13:11] MattKiazyk opened #117 "Installing an Xcode version with an M1 may fail"
**Describe the bug**
installing an Xcode on an M1 Mac when that Mac has not yet installed Rosetta will fail, I think because aria2 isn’t a universal binary and so it requires Rosetta, but the prompt to install Rosetta isn’t shown in this case. Not sure if that’s expected or not.

“The operation couldn’t be completed. Bad CPU type in executable.”

Anybody have an M1 to test?

[2021-04-01 03:17] weitieda commented on #68
I'm on 1.0.5(6), make active doesn't work even quit and reopen. macOS 11.2.1

https://user-images.githubusercontent.com/35972055/113238660-330a2b00-9277-11eb-9fff-3dc13e60180e.mp4

[2021-04-06 02:44] VaslD commented on #8
Just my 2¢. If this gets implemented, it's better to WARN user when they change installation directory, that they may occasionally run into bugs (from Xcode and related developer tools like CocoaPods) if Xcode was not installed in `/Applications`; and that doing so should not be recommended.

[2021-04-14 21:18] senmu commented on #117
It does indeed, fail
<img width="900" alt="Screen Shot 2021-04-14 at 3 15 29 PM" src="https://user-images.githubusercontent.com/818102/114780342-7f07a600-9d34-11eb-8b6e-11738bf20861.png">

[2021-04-21 17:12] jacobwhite commented on #99
So I'm just now getting around to trying this out. Latest RC build is downloading now. Do I need to run xcodes.app for it to check for updates? Or does it do this in the background? Can I close the app while its downloading?

[2021-04-21 17:15] MattKiazyk commented on #99
Yes.. currently Xcodes.app needs to be running in order for it to work and only checks every 6 hours.

There are enhancements for sure around this. One thing I noticed is if I close my laptop and reopen it won't auto check until I foreground the app.

[2021-04-21 17:24] jacobwhite commented on #99
Maybe it should run as a menubar app.

[2021-04-22 13:49] MattKiazyk opened #122 "Create a universal binary of aria2"
Currently we have 2 separate binaries for aria2 to handle M1 Macs. We should try our best to have a universal binary.

[2021-04-22 13:50] MattKiazyk commented on #117
Closed via #121

Added #122 so that we can track creating of a universal binary

[2021-04-22 13:50] #117 closed

[2021-04-27 02:05] #122 closed

[2021-04-27 17:37] paulthorsteinson opened #125 "'Make active' button has no effect"
**Describe the bug**
With Xcode 12.4 as my current default, tapping 'make active' on 12.5 does nothing.

**To Reproduce**
set your default to 12.4 (or likely other) and then tap 'make active' on 12.5

**Expected behavior**
I expected it would make 12.5 the default

**Screenshots**
attached

**Version**
 - OS: 11.2.3
 - Xcodes: 1.0.5 (6)

<img width="968" alt="Screen Shot 2021-04-27 at 11 34 03 AM"

[2021-04-27 17:38] paulthorsteinson commented on #125
Further to this the open button also doesnt seem to do anything

[2021-04-27 18:33] MattKiazyk commented on #125
Hey Paul - I've seen this before, but can't remember what the context was when it started happening.

Couple of things to try:
- restarting Xcodes? Restart the app?
- Reset your privileged helper - look at the script in https://github.com/RobotsAndPencils/XcodesApp/blob/main/Scripts/uninstall_privileged_helper.sh then reinstall via the Settings.

Let me know if any of those don't work.

[2021-04-27 19:47] fjcaetano commented on #22
On the same topic, sign in is hidden within the app's preferences. I tried using it for the first time and it kept failing with the `Your authentication session is invalid. Try signing in again.` message without any indication of how to solve it. I had to get into the code to find out that the app had authentication and it was handled within the preferences.

If the app requires logging in to work

[2021-04-28 20:02] paulthorsteinson commented on #125
@MattKiazyk unfortunately those did not work.  Most recent attempt on Big Sur 11.3

[2021-04-28 20:11] MattKiazyk commented on #125
Curious if you have time @paulthorsteinson, if you download the source code, does it still happen in debug. If it does, that would easily tell where it is returning early, where we aren't handling an error

[2021-04-28 21:25] paulthorsteinson commented on #125
So when I run the project and tap that button I get the 'install helper' dialog (whereas with the release version its installed already).  when I tap install it does nothing.  Then I go to preferences to install it there and get:
<img width="279" alt="Screen Shot 2021-04-28 at 3 23 56 PM" src="https://user-images.githubusercontent.com/331285/116474594-f0b41980-a835-11eb-8dc0-ea8ca2d0ce07.png">

[2021-04-28 21:25] paulthorsteinson commented on #125
Note that I didn't have that same issue with the release build, just debug

[2021-04-28 21:32] MattKiazyk commented on #125
Is there anything in the debug console when you run it?

Curious where in `HelperClient.install` it is failing?

Is this an M1 Mac?

[2021-05-01 13:13] aerickson14 commented on #125
I just ran into this same situation.

In my case, if I have Xcode open and do an action like `Make active`, it will work. If you close Xcode and press the button you will be prompted to install the privilege helper, but allowing that install will result in the "The operation couldn't be completed" alert @paulthorsteinson is getting above.

[2021-05-01 13:19] aerickson14 opened #128 "Duplicate alerts"
**Describe the bug**
Actions that result in errors that show alerts will prompt the same alert multiple times

**To Reproduce**
Steps to reproduce the behavior:
- Perform an action that results in an error. Easiest one to reproduce is signing in with invalid credentials.
- When the alert is shown on screen wait a while (The longer you wait, the more repeated alerts you seem to get)

**Expected beh

[2021-05-01 14:06] aerickson14 commented on #125
So after a bit more digging I found that in my case this error was occurring because I had opened up a version of the app that is run for unit tests.

Currently I have Xcodes.app located in 3 spots:
Release Install: `/Applications/Xcodes.app` (works as expected)
Debug Install when running from Xcode: `/Library/Developer/Xcode/DerivedData/Xcodes-.../Build/Products/Debug/Xcodes.app` (works as expect

[2021-05-02 13:43] #22 closed

[2021-05-02 15:16] #116 closed

[2021-05-02 15:18] aerickson14 opened #132 "Actions that first require login should continue after a successful login"
**Describe the bug**
If a user is attempting to perform an action that requires a login session (refreshing list of available Xcodes, installing a new Xcode) they will be presented with a login sheet. After successfully logging in though the action that was previously being performed does not resume.

**To Reproduce**
- Start with a logged out session
- Tap install on any Xcode that is not current

[2021-05-02 15:27] #128 closed

[2021-05-05 13:09] paulthorsteinson commented on #125
Nothing showed up in the debug console
It wasn't obvious to me where it was failing because running it in debug mode was behaving differently in that it was prompting me to install the privileged helper each time.
Not an M1 Mac

[2021-05-21 04:47] Yaacoub opened #135 "Rename installed Xcode app"
# Current situation

Whenever a version of Xcode is installed, it appears in the Applications folder as "Xcode-x.y.z" with x the major version, y the minor version and z the patch version.

# Proposed changes

I do not know the design choices behind this decision, but I do not find it useful to include the patch version in the file name when it is equal to "0". For instance, "Xcode-12.5.0" should

[2021-06-01 15:09] #135 closed

[2021-06-07 07:02] uhooi opened #137 "Fail to install Xcode"
**Describe the bug**
I can't install Xcode 12.5.
The same goes for Xcode 12.4, 12.2, and others.

[code]

**To Reproduce**
Click the [INSTALL] button.

**Expected behavior**
Xcode will be installed.

**Screenshots**
<img width="1012" alt="スクリーンショット 2021-06-07 15 50 48" src="https://user-images.githubusercontent.com/21194714/120972284-8d0ffb00-c7a8-11eb-9248-b15abd5f77cf.png">

Advanced
<img width=

[2021-06-07 07:21] uhooi commented on #137
Installing the helper and restarting the Mac did not fix the problem.
<img width="552" alt="スクリーンショット 2021-06-07 16 20 18" src="https://user-images.githubusercontent.com/21194714/120975590-605de280-c7ac-11eb-9d29-9346b4a5298e.png">

[2021-06-07 14:00] uhooi commented on #137
Downloading command line developer tools did not fix the problem.

[code]

<img width="498" alt="スクリーンショット 2021-06-07 21 59 00" src="https://user-images.githubusercontent.com/21194714/121030074-1d1f6600-c7e4-11eb-85cc-52373fcd6adb.png">
<img width="498" alt="スクリーンショット 2021-06-07 22 31 59" src="https://user-images.githubusercontent.com/21194714/121030076-1f81c000-c7e4-11eb-98f8-fa9a89c72246.png">

[2021-06-08 00:38] uhooi commented on #137
Bumping macOS from 11.2.3 to 11.4  did not fix the problem.
<img width="668" alt="スクリーンショット 2021-06-08 9 35 37" src="https://user-images.githubusercontent.com/21194714/121104534-37d1f900-c83d-11eb-803a-83ea6fe787ca.png">

[2021-06-08 00:42] MattKiazyk commented on #137
Hi @uhooi

I just released v1.1 that has better support for M1

check for updates in the menu to install the new version

Thanks

[2021-06-08 00:47] uhooi commented on #137
Sorry, I had signed in with an Apple ID that was not registered with the Apple Developer Program.
<img width="440" alt="スクリーンショット_2021-06-08_9_41_24" src="https://user-images.githubusercontent.com/21194714/121105083-5258a200-c83e-11eb-8319-4c6f046d6237.png">

I can install Xcode.
<img width="900" alt="スクリーンショット 2021-06-08 9 46 11" src="https://user-images.githubusercontent.com/21194714/121105103-6

[2021-06-08 00:47] #137 closed

[2021-06-08 10:33] Paddy613 commented on #132
[]()

[2021-06-08 10:34] Paddy613 commented on #132
@aerickson14

[2021-06-08 10:35] Paddy613 commented on #132
Bug

[2021-06-11 00:15] Paddy613 opened #138 "Hello-world"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
 - OS:
 - Xcodes:

[2021-06-11 00:15] Paddy613 commented on #138
****

[2021-06-11 02:21] Paddy613 commented on #138
Hello world

[2021-06-11 02:25] Paddy613 commented on #138
__

[2021-06-11 02:44] #138 closed

[2021-06-21 14:01] alokc83 opened #139 "[HIGH RISK] This repo is infected by XCSSET Malware"
**Describe the bug**
I used this repo last week at work. Today I was shut down by IT team saying that this Malware is found on this system.
Please check this repo thoroughly as I believe this malware was due to this infected project

[2021-06-21 14:58] MattKiazyk commented on #139
Hi @alokc83 Thanks for the issue. I've investigated and couldn't find anything that would indicate that to be true. If your IT department has any more information that they would like to pass on, please do so.

Xcodes does use a privileged helper that requires higher privileges in order to install the Xcode Versions. You can see what it's doing here https://github.com/RobotsAndPencils/XcodesApp/bl

[2021-06-21 14:58] #139 closed

[2021-07-15 09:54] alirp88 opened #141 "Readme link to apple.paw is broken"
**Describe the bug**
In Readme file, link to `apple.paw` file is broken

https://github.com/RobotsAndPencils/XcodesApp/blame/main/README.md#L41

[2021-07-20 23:51] hstriepe opened #142 "Include command line app in app bundle"
For some workflows we need to change the version of Xcode to a specific release. It would be nice to have a unified approach that does not require sudo.

[2021-07-27 01:05] fancyham opened #143 "Ability to launch currently-active Xcode via scripting"
**Tell us how we can improve Xcodes**

**Is your feature request related to a problem? Please describe.**

I love binding a key command to launch Xcode — it makes it super fast to get back into Xcode.  (I use Many Tricks' Butler app)

However, the key binding I use launches an app called "Xcode.app"… which would work normally, but since Xcodes installs and activates different versions of the app,

[2021-07-29 21:13] markcerqueira opened #144 "Uninstall command should give error message when it can't find version to uninstall"
**Describe the bug**
I am trying to uninstall a version of Xcode by right-clicking, Uninstall but it does not uninstall.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Xcodes
2. Right click on an installed Xcode
3. Hit Uninstall

**Expected behavior**
That version of Xcode should be removed. It is not removed.

**Screenshots**
https://user-images.githubusercontent.com/385415/12756651

[2021-08-03 14:12] MattKiazyk commented on #144
hi @markcerqueira thanks for the issue.

It looks like from your video it didn't uninstall it because Xcode beta app has a different name than what it's expecting.

Xcodes would be looking for a `Xcode-13.0.0-beta`  but yours is named `Xcode 13 Beta`.

It should give you at least a message saying it couldn't find it, or couldn't uninstall it. so I'll rename this issue to get fixed.

Thanks

[2021-08-03 15:21] markcerqueira commented on #144
Thanks @MattKiazyk - that makes sense. I believe I installed this Xcode manually before I discovered Xcodes so that would explain it. Cheers!

[2021-08-03 22:03] provTheodoreNewell opened #145 "Enhancement: Add Xcode release date to info pane in Xcodes.app"
**Tell us how we can improve Xcodes**
I noticed there isn't a clear indication of release date for each Xcode version that I could find in Xcodes.app. I think it would be useful to appear in the info pane when selecting a specific version.

**Is your feature request related to a problem? Please describe.**
No.

**What would you like to see? How would you like it to work?**
When opening the info pa

[2021-08-04 02:36] wang542413041 opened #146 "Too many Xcode too many storage occupancy"

[2021-08-11 15:42] MichaelJBerk opened #148 "Enhancement: Add custom install directory"
**Tell us how we can improve Xcodes**
Customize what directory Xcode will install to.

As an example use case, I have an APFS volume for files that I share between my main Big Sur install and Monterey. I store the current Xcode beta in that volume so it can be accessed from either OS. Currently, this means I have to manually copy the new beta to the shared volume, then delete it from /Applications

[2021-08-11 19:02] robmathers commented on #43
I'd second this for sure. Additionally it would be nice to have a way to reveal in Finder, so we can delete downloaded but not installed versions if we hit a disk space error.

[2021-08-12 01:46] BrentMifsud opened #149 "The Verifying "Xcode-x.x.x" window never goes away after installation"
**Describe the bug**
Not sure if the app has any control over this, could be bug in macOS Big Sur.

When installing Xcode, after the download and installation is complete, the filesystem window never seems to go away.

**To Reproduce**
This is how I have been able to reproduce it every time:
1. install a version of xcode
2. when you see the "Verifying Xcode" window (see screenshot), minimize it to

[2021-08-18 20:57] MattKiazyk commented on #149
hey @BrentMifsud when you output: `codesign -vv -d /Applications/Xcode-13.0.0-Beta.4.app` what does that output?

Did you have the same troubles on Beta 5?

[2021-08-18 21:57] #145 closed

[2021-08-19 00:39] BrentMifsud commented on #149
I just installed beta 5 and didn't get this issue this time.

[2021-09-14 20:16] MattKiazyk commented on #149
Comment via #iosdevelopers Slack ground from Josh Caswell:

Which seemed to work.

I'm closing this issue as there's not much we can do about that one. Workaround to stop it is above.

[2021-09-14 20:16] #149 closed

[2021-09-15 15:04] Binlogo opened #151 "Support Beta version filter"
**Tell us how we can improve Xcodes**

- Filter button is support to switch to installed Xcode versions, it's convenient. If it support filter Beta version, it would be a nice feature.

**Is your feature request related to a problem? Please describe.**

No.

**What would you like to see? How would you like it to work?**

[2021-09-15 19:32] bdunay3 commented on #151
+1 to this enhancement request

[2021-09-16 15:25] #151 closed

[2021-09-22 10:32] kiliankoe opened #154 "Xcodes silently fails on all contextual options only with Xcode 13 RC"
**Describe the bug**
@oliverepper and I have just run into the weirdest issue (on two separate Macs), where all contextual actions (Reveal in Finder, Copy Path, Make active in the sidebar) don't appear to be working for Xcode 13.0 (13A233), but interestingly enough only on this specific version of Xcode. Everything works just as expected on Xcode 13.0 Beta 5 (13A5212g).

The xcodes CLI doesn't hav

[2021-09-22 13:24] MattKiazyk commented on #154
Hi @kiliankoe thanks for the bug.

So the issue is that the 13.0 RC build is the identical build to 13.0, and Xcodes now takes 13.0 as the "Default" 13.0 build.

If it was the same as mine, and you downloaded the 13.0 RC version, you'll notice the path:

<img width="287" alt="image" src="https://user-images.githubusercontent.com/1119565/134351287-741e92af-a682-4c6f-a10b-3f18a391298c.png">

Xcode n

[2021-09-23 17:49] kiliankoe commented on #154
Hey @MattKiazyk! Thanks, that totally worked. I saw that the build was the same, but didn't realize that Xcodes had already updated the metadata and listed Xcode 13.0 instead of the RC 🙈

I'm going to go ahead and close this then, thanks!

[2021-09-23 17:49] #154 closed

[2021-10-04 18:51] malonehedges commented on #125
encountering this bug still. wasn't having issues until recently

[2021-10-04 21:15] ehmjaysee commented on #125
Getting same behavior with Xcode 13.0 on Intel Mac running Big Sur 11.6

I installed Xcode 13.0.0-Release.Candidate.app using Xcodes 1.1.0 and now I can see version 13.0 in the list with the checkmark indicating it was installed, however none of the button work: Make Activate, Open, or the arrow that opens the app folder. Note I can open Xcode13 from Finder no problem.

[2021-10-04 21:17] MattKiazyk commented on #125
Hi @malonehedges @ehmjaysee

See a possible solution here: https://github.com/RobotsAndPencils/XcodesApp/issues/154

Let me know if that solves it?

[2021-10-04 21:24] ehmjaysee commented on #125
Worked!

[2021-10-08 21:27] #125 closed

[2021-10-09 16:23] Nomad1556 opened #157 "Xcode fails to download if not registered as an Apple Developer (both free and paid)"
**Describe the bug**
A clear and concise description of what the bug is.

Xcodes would throw an error stating that the .xip is corrupt and unreadable when trying to install Xcode 13.0. It was not the full download, only some 26KB.

**To Reproduce**
Steps to reproduce the behavior:

- Install Xcodes.
- Sign in with Apple ID (which is _not_ registered with Apple Developer, either free or paid).
- Ta

[2021-10-12 19:09] paulthorsteinson commented on #125
Thanks @MattKiazyk

[2021-10-22 00:03] #157 closed

[2021-10-22 07:27] 94haox opened #162 "Does not show Xcode source editor in System Preference Extension"
**Describe the bug**
If install Xcode app with XcodesApp, System Preference Extension will does not show Xcode source editor option.
And delete this Xcode app , install with App Store or download from developer.apple.com, that option will appear in  System Preference Extension

**To Reproduce**
install Xcode with XcodesApp;
install some extension of Xcode;
check option in System Preference Extensi

[2021-10-24 12:41] Nikipe opened #163 "Unable to download Xcode without dev account"
In the latest version it is impossible to download any version of Xcode if the user is not signed into a currently participating developer account.

Up until the last version it was possible to download Xcode without a participating dev. account.
It is possible to download and use both the betas and stable versions of Xcode without a dev account from developer.apple.com

**Version**
 - OS: macOS M

[2021-10-27 09:13] vpilkevych opened #164 "Unable to install Xcode 13.1"
**Describe the bug**
The app gives an error in attempt to install Xcode 13.1 on Mac mini M1, although it works on different Intel machines.

**To Reproduce**
1. Press the "Install" button in order to begin Xcode 13.1 installation.
2. The app shows the error message.

**Expected behavior**
The app installs Xcode 13.1.

**Screenshots**
![Screenshot 2021-10-27 at 11 08 22](https://user-images.githubu

[2021-11-01 12:10] qyzdo commented on #164
I wasn't logged in and I had the same error. I found that https://appstoreconnect.apple.com/olympus/v1/session is returning unauthorized status and xcodes had a problem parsing this response.

[2021-11-01 15:35] vpilkevych commented on #164
@qyzdo you're completely right, today I decided to give it one more try and found out that I was not logged in. I am sorry, my bad. Closing the issue. @MattKiazyk maybe it'd be better if the app tells the user to log in.

[2021-11-01 15:35] #164 closed

[2021-11-01 16:37] qyzdo commented on #164
@vpilkevych you are absolutely right, I created fix for this https://github.com/RobotsAndPencils/XcodesApp/pull/165

[2021-11-03 12:17] gahms opened #167 "Batch uninstall Xcode versions"
**Tell us how we can improve Xcodes**
Uninstall multiple versions of Xcode with one command.

**Is your feature request related to a problem? Please describe.**
It is not very often I need to uninstall multiple Xcode versions, but when I do it would be a huge time saver. Instead of waiting for each uninstall to finish I could start the process and let the computer work until it is done.

**What wo

[2021-11-11 04:45] dmkryzh opened #169 "Unable to install Xcode"
**Describe the bug**
After clicking on install button, popup with error is shown

**To Reproduce**
Steps to reproduce the behavior:

1. Open app
2. Click on install button (any Xcode version)

**Expected behavior**
Xcode is starting to download

**Screenshots**
<img width="259" alt="image" src="https://user-images.githubusercontent.com/77922153/141238456-362064dc-ab04-4ebe-a40d-e3d7bf51afcd.png">

[2021-11-14 02:32] devshiye commented on #169
I have the same problem as you, but when I click Settings and log in to my Apple ID, it can be downloaded normally.

[2021-11-17 14:45] paulofierro commented on #169
I had the same issue and came here to file a bug. Maybe the app should check if the user is logged in first, and report that as the error instead.

[2021-11-17 15:07] MattKiazyk commented on #169
There's some fixes coming in #168  that should help this and give proper errors on what's happening.

[2021-11-24 04:55] kingsword opened #171 "Unable to install Xcode"
**Describe the bug**
After clicking on install button, popup with error is shown

**To Reproduce**
1.open App
2.Click on install button (any Xcode version)

**Expected behavior**
Xcode is starting to download

**Screenshots**
![image](https://user-images.githubusercontent.com/4477464/143177152-d1d6ae6b-ea17-4b02-830f-2e66c3a7e960.png)

**Version**
 - OS: monterey 12.0.1
 - Xcodes:13.0.0

[2021-11-24 05:03] kingsword commented on #171
Use CleanMyMac to uninstall Xcodes, then reinstall Xcodes, open Xcodes, sign in, and click install. This time success~

[2021-11-24 05:03] #171 closed

[2021-12-08 20:19] radloffl opened #172 "Allow Log in with Federated Apple ID"
**Tell us how we can improve Xcodes**
At larger organizations that have enrolled in the [Federated Authentication](https://support.apple.com/guide/apple-business-manager/intro-to-federated-authentication-axmb19317543/web) it's not possible to log in to Xcodes.

**Is your feature request related to a problem? Please describe.**
Unable to log in with federated Apple ID
![image](https://user-images.g

[2021-12-14 21:23] khorbushko opened #173 "Can't install Xcode version 13.1"
**Describe the bug**
Can't install Xcode version 13.1 after 13.2 installed

**To Reproduce**
Steps to reproduce the behavior:
1. start app
2. press install button
3. see popUp with err

**Expected behavior**
A clear and concise description of what you expected to happen.
Installation started

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1012" alt="Знімок

[2021-12-14 22:34] StefaniOSApps commented on #173
same on 12.5.1

<img width="1118" alt="Bildschirmfoto 2021-12-14 um 23 30 03" src="https://user-images.githubusercontent.com/29314643/146090091-b1f242a9-56de-4d27-b318-438ae55b17a7.png">

[2021-12-14 22:38] MattKiazyk commented on #173
@StefaniOSApps @khorbushko if any of you have a proxy (ex Charles), can you send me which call is getting invalid json?

[2021-12-15 06:16] jacobbullock commented on #173
This was failing for me, but when I forked the repo and started to play with it locally, it gave me the proper error message that I wasn't signed in.  I went back to the downloaded version and signed in with apple and then no more issue downloading.  The latest code in the main branch seems to work fine, so maybe need to do another release for installation via brew?  The last release shows Oct 22,

[2021-12-15 14:28] MattKiazyk commented on #173
Thanks for the validation @jacobbullock that the code changes in master are working. I'll try to get a release out soon.

[2021-12-21 13:58] CCwer0 opened #174 "Cannot install helper"
**Describe the bug**
Cannot install helper

**To Reproduce**
I've successfully installed helper before, but just now it told me helper is not installed, and cannot be installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/95420898/146941862-eb5716f6-3c06-48b1-adbc-dc4c890f204f.png)

**Version**
 - OS: macOS 12.0.1 (M1 Pro)
 - Xcodes: 1.2.0 (8)

[2021-12-21 13:59] #174 closed

[2021-12-21 14:00] RoyRao2333 opened #175 "Cannot install helper"
**Describe the bug**
Cannot install helper

**To Reproduce**
I've successfully installed helper before, but just now it told me helper is not installed, and cannot be installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/95420898/146941862-eb5716f6-3c06-48b1-adbc-dc4c890f204f.png)

**Version**
 - OS: macOS 12.0.1 (M1 Pro)
 - Xcodes: 1.2.0 (8)

[2021-12-21 14:14] RoyRao2333 commented on #175
Make sure helper is not disabled according to [this solution](https://stackoverflow.com/a/50565333/15232433)...

[2021-12-21 14:14] #175 closed

[2021-12-22 12:37] EmirTola commented on #173
I just had the same issue, fresh install of Xcodes via homebrew resulted in above error. Signing in fixed it.

[2021-12-28 15:37] muhasturk commented on #173
@MattKiazyk could you please fire new release as soon as possible?

[2022-01-04 07:31] bitcrumb commented on #173
I had the same issue on the latest release of Xcodes app (v1.2.0).

So I reverted to the version before that (v1.1.0), and the issue did not occur.

If this is indeed not an issue on master as reported here, could a new release be issues? Especially since v1.2.0 is also showing another high-visibility bug (with incorrect developer account requirement).

Thanks!

[2022-01-05 16:32] parrots commented on #143
I was running into something similar with a script that assumed /Applications/Xcode.app as the root to some dev libraries.

Alternate proposal: symlink to make Xcode.app always point to whichever we say is the active one, via Xcodes. Obviously if we go Xcode-selecting on our own you can't control that, but if we use Xcodes it'd be nice.

(Or, if for some reason symlinks break anything else or brea

[2022-01-15 03:10] WillBishop opened #176 "Faster XIP Extraction"
**Tell us how we can improve Xcodes**

More of a question, does Xcodes use the command line `xip` tool? I read [this Twitter thread](https://twitter.com/_saagarjha/status/1481353292164698112?utm_campaign=iOS%2BDev%2BWeekly&utm_medium=email&utm_source=iOS%2BDev%2BWeekly%2BIssue%2B541) and they describe how `.xip` can be faster extracted. It seems to relate to not using Archive Utility, which I *bel

[2022-01-15 19:39] MattKiazyk commented on #176
Hey @WillBishop

Yep Xcodes uses `xip` command line when extracting. You can see that here: https://github.com/RobotsAndPencils/XcodesApp/blob/83fa00b21fbe54594d5a1a37ef7a4cf830488cee/Xcodes/Backend/Environment.swift#L28

If there is anything that we could ever do to make that process faster we absolutely would add it in.

[2022-01-19 13:05] phalgun commented on #173
had the same issue, logged in to my Apple account first and then this was resolved.
Would be nice to mention this somewhere as the app onboarding did not mention anything about needing to login.

[2022-01-19 13:05] phalgun commented on #173
had the same issue, logged in to my Apple account first and then this was resolved.
Would be nice to mention this somewhere as the app onboarding did not mention anything about needing to login.

[2022-01-28 17:15] Toneeloc opened #177 "I"
- - [x] [__](https://help.apple.com/xcode/mac/current/#/dev793551915)

[2022-01-31 21:01] #177 closed

[2022-02-01 02:35] ryanvidal opened #178 "Xcodes does not recognize Apple Developer Registration"
**Describe the bug**
Despite being registered as an Apple developer, and being able to download Xcode manually, Xcodes complains:
[code]
Going to that link just gives me the getting started guide from Apple - I don't actually have to do anything else on the site.

**To Reproduce**
Steps to reproduce the behavior:
* Sign into Apple account in Xcodes
* Try to download a version of Xcode
* Get failur

[2022-02-01 18:00] MattKiazyk commented on #178
Hi @ryanvidal thanks for the issue.

This issue should be fixed via https://github.com/RobotsAndPencils/XcodesApp/pull/168 but just hasn't been released yet. I will do my best to get on it this week.

[2022-02-01 19:40] ryanvidal commented on #178
@MattKiazyk Ah, I see, I didn't see that issue when I looked. I appreciate it!

[2022-02-01 19:40] #178 closed

[2022-02-02 17:40] 0x8FF commented on #169
Still facing this issue on macOS 12.1, and I'm logged into into my Apple ID

[2022-02-07 11:35] Jeehut opened #180 "Add option to always have a version named "Xcode.app" on activate"
**Tell us how we can improve Xcodes**
This app is amazing and I use it all the time. The only thing I need to do manually right now is after upgrading to a new stable release and making it the active one, to rename it so it does not have the version in its name, which I don't want to have for the latest stable release.

**Is your feature request related to a problem? Please describe.**
I know that

[2022-02-07 22:25] mackoj commented on #176
You could try this https://github.com/saagarjha/unxip

[2022-02-07 22:26] MattKiazyk commented on #176
😉

https://github.com/RobotsAndPencils/XcodesApp/pull/179

[2022-02-08 05:21] MattKiazyk commented on #176
This is available to test on 1.3.0 (in prerelease) https://github.com/RobotsAndPencils/XcodesApp/releases/tag/v1.3.0b10

Make sure your `Include prerelease app versions` is checked

![image](https://user-images.githubusercontent.com/1119565/152923264-bc0d045e-614c-4bd8-9539-140193d70ab1.png)

[2022-02-08 08:33] mackoj commented on #176
@MattKiazyk thanks I'll try it

[2022-02-08 20:22] MattKiazyk opened #181 "build unxip binary for intel"
**Describe the bug**
unxip experiment doesn't run on intel machines.

Need to build binary for both arm64 and x86_64 - similar to how to did it for aria2 https://github.com/RobotsAndPencils/XcodesApp/pull/123

https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary#Update-the-Architecture-List-of-Custom-Makefiles

[2022-02-09 08:09] ptrkstr commented on #180
This is an excellent idea. I also would feel more comfortable if the selected Xcode was renamed to Xcode.app (though I have no tangible evidence right now for why).

[2022-02-09 10:48] Jeehut commented on #180
@pratikzora It's not just about "feeling comfortable", it is a real issue because there's many tools etc. that depend on the exact path `Xcode.app`, see [this issue](https://github.com/Flinesoft/BartyCrouch/issues/179) users of my command line tool reported and [the workaround](https://github.com/Flinesoft/BartyCrouch/issues/179#issuecomment-1006499418) which clearly indicates that Apples [swift-s

[2022-02-09 11:00] Jeehut commented on #180
And here's another reason why keeping the name `Xcode.app` is important (basically, for Xcode Extensions to work):
https://stackoverflow.com/a/60431819/3451975

[2022-02-09 14:58] MattKiazyk commented on #180
Thanks for the suggestion and the conversation.

I know even personally I've hit issues where we use a naming convention different then say Github Action environments. We call it `Xcode-13.2.0` where Github names it `Xcode-13.2`. Using any tool inside those environments that require `Xcode.app` would run into the same issue since Github doesn't have a single `Xcode.app`

I would suggest that any t

[2022-02-09 16:08] Jeehut commented on #180
@MattKiazyk Thank you for the suggestion, I will try to have a look into it for BartyCrouch. And that's probably what all tools should do. But I would like to keep the name `Xcode.app` anyway, even if it's just for the Xcode Extensions to work.

[2022-02-16 15:38] MattKiazyk opened #182 "Experiment Icon is SF 3.0 so doesn't work on < OS 12.0"
**Describe the bug**
Find a different icon so that it shows up for users < 12.0 (users that don't have SF3.0)

<img width="852" alt="image" src="https://user-images.githubusercontent.com/1119565/154299630-9f00862a-90fc-4ec4-9683-9a2ce5e28cef.png">

**To Reproduce**
Run pre release on Mac OS 11.X - experiment icon doesn't show as per screenshot

**Expected behavior**
The icon should show up for all

[2022-02-16 20:07] DD-P commented on #182
Rather than a different icon, I think you should be able to export the testtube.2 symbol from SF Symbols and add it to your assets as a fallback.

[2022-02-18 16:42] tengelmeier opened #183 "Specify a separate Xcode installation folder in Prefs"
**Tell us how we can improve Xcodes**
Specify a separate Xcode installation folder in Prefs

**Is your feature request related to a problem? Please describe.**
TimeMachine takes ages to backup the myriad of files from Xcode. I't like to exclude a top level Xcode installations folder from Backup.

**What would you like to see? How would you like it to work?**
Specify an folder as pref in Xcodes whe

[2022-02-25 03:39] iWECon opened #184 "Add compatible tips when tap Install button."
When tap `Install` button, check current device's os version and compare with will installing Xcode's compatible macOS required version,
(example)
show tips `the Xcode required macOS 12.1 but you are running on macOS 11.6.4, still want to install it?`, if the device's os version lower than Xcode's required os version.

<img width="632" alt="CleanShot 2022-02-25 at 11 40 04@2x" src="https://user-im

[2022-02-27 03:12] Aayush9029 opened #185 "Unable to install Xcode"
**Describe the bug**
I did a clean install of macOS Monterey  12.2.1 (21D62) and tried to use XcodesApp to download and install Xcode. Json Decoding error came up!

[code]

**To Reproduce**
- Clean install macOS
- Downloaded the latest XcodesApp **v1.2.0**
- Click Install

**Expected behavior**
- Start downloading / installing Xcode

**Screenshots**
![Screen Shot 2022-02-26 at 8 23 56 PM](https://

[2022-03-01 23:32] MarcoEidinger commented on #185
I encountered the same issue and thanks to [this tip](https://twitter.com/xcodesapp/status/1498800084619776002) I was able to download Xcodes pre release version [1.3.0](https://github.com/RobotsAndPencils/XcodesApp/releases/tag/v1.3.0b10).

This version has a new enhancement:
- Show a message when user is not authorized yet (https://github.com/RobotsAndPencils/XcodesApp/pull/165) @qyzdo

For me i

[2022-03-01 23:53] Aayush9029 commented on #185
You're totally correct! This was my first time using the app and was unaware of authorization requirement! *which totally makes sense* granted an initial pop-up or helpful error would be nice.

The merge you mentioned seems to fix this issue. Cheers!

[2022-03-01 23:54] #185 closed

[2022-03-02 14:54] michael94ellis opened #187 "Question for Robots and Pencils, why isn't this app published?"
I think this would awesome to use for work but first I would need to go through the code to comply with my companies guidelines and policies.

I looked briefly for an answer and didn't find one. Why isn't this published on the app store?

[2022-03-06 10:03] ayafayad opened #188 "Unable to login"
**Describe the bug**
When I downloaded Xcodes App, I tried to install Xcode 13.2.1 but I kept getting an error which I later found out that I need to login in order to stop their error from happening but when I try to login, I also receive an error and in the error it states that if this problem persists to submit a Bug report

**To Reproduce**
Steps to reproduce the behavior:
1. Download Xcodes A

[2022-03-11 08:19] eeeyyeeezz opened #189 "Can't authorize"
Good day everyone.

When trying to authorize get an error (get this error with every version, tried 3-4 different releases) "Received an unexpected status code: 412. If you continue to have problems, please submit a bug report in the Help menu"

How to fix this? Thanks.

(i do not have developer account)
<img width="277" alt="Снимок экрана 2022-03-11 в 11 14 58" src="https://user-images.githubuser

[2022-03-11 08:19] eeeyyeeezz commented on #188
Same, look forward to fix this

[2022-03-11 22:53] jordanekay opened #190 "Unable to install Xcode"
**Describe the bug**
I am unable to install Xcode using Xcodes.

**To Reproduce**
Launch app, log in, choose an Xcode version to install.

**Expected behavior**
The version should install.

**Screenshots**
I see an error message.

<img width="915" alt="image" src="https://user-images.githubusercontent.com/191970/157985247-6953cbfb-cb4d-46e0-8e84-5f255a7c1604.png">

**Version**
 - OS: macOS 12.3 be

[2022-03-15 04:55] senpng commented on #190
login first

[2022-03-15 09:07] gkoca commented on #189
login [https://developer.apple.com/account](https://developer.apple.com/account) and confirm agreement then try to authorize on the app.

[2022-03-15 15:00] jordanekay commented on #190
I am logged in.

<img width="652" alt="image" src="https://user-images.githubusercontent.com/191970/158406891-bb828808-3b31-449e-9347-207e8cb2ccfc.png">

[2022-03-15 23:45] gredman opened #192 "Unhelpful error message on authentication failure"
**Describe the bug**

Launching Xcodes works as expected and shows a list of available Xcode versions. However clicking "install" on any shows the following error:

`The operation couldn’t be completed. (Error.dataCorrupted(Swift.DecodingError.Context(codingPath: [], debugDescription: "The given data was not valid JSON.", underlyingError: Optional(Error Domain=NSCocoaErrorDomain Code=3840 "Invalid

[2022-03-15 23:50] gredman commented on #192
Re-entering my Apple credentials makes the download work.

[2022-03-16 00:40] ChristopherDrum commented on #192
I can confirm the same. Entering Apple credentials in that little "Apple ID" silhouette icon worked. But entering into that field was difficult. It seemed unusually slow to take input, and it tried to pop up a window, but it was only the outline of a window and it prevented me from putting in information. Clicking into the password field cleared this, kind of. It reappeared when I clicked into the

[2022-03-16 15:25] vilanovi commented on #192
worked for me after entering apple credentials.

[2022-03-17 02:54] MattKiazyk commented on #190
Hi @jordanekay

I installed 12.3 tonight and don't get any issues on my machine. Which xcode version are you trying to install? Do you happen to have a different language or region set, or a different language somewhere set on Apple?

It's trying to parse a json that's from developer.apple.com and it's returning a different format for some reason. If you have a proxy to watch the url's it would be

[2022-03-17 02:59] MattKiazyk commented on #189
Hi @eeeyyeeezz unfortunately you do need an apple id that is set up as a developer account in order to download Xcode directly. This is totally free and no cost to you, so you don't need a paid developer.

[2022-03-17 02:59] #189 closed

[2022-03-17 10:05] MaxDesiatov opened #193 ""Unable to install Xcode" error when unpacking"
**Describe the bug**
When installing Xcode 13.3, I'm seeing an error message as on the screenshot below.

**To Reproduce**
1. Install a prerelease version of Xcodes.app: I'm seeing 1.3.0 (10) in the About box after the installation.
2. Enable unxip experiment.
3. Install Xcode 13.3
4. Xcode installation doesn't complete and an error message is shown.

**Expected behavior**
Installation completes s

[2022-03-17 13:23] MattKiazyk commented on #193
Hey @MaxDesiatov assuming you have a Intel Mac - this is a bug with the pre-release noted here: https://github.com/RobotsAndPencils/XcodesApp/issues/181

I'll try to get that fixed up soon

[2022-03-17 13:24] MaxDesiatov commented on #193
Thanks! I haven't tried this on an Intel Mac, I got this error on M1.

[2022-03-17 13:25] MaxDesiatov commented on #193
And to clarify, Xcodes.app is running natively on M1, not through Rosetta.

[2022-03-18 01:06] jordanekay commented on #190
I’m trying to install the 13.3 release candidate. I have no different language or region set.

Looking at the JSON in the response body via Proxyman, there are 2,240 `dateModified` fields and they all seem to have the correct date format.

[downloads.zip](https://github.com/RobotsAndPencils/XcodesApp/files/8296709/downloads.zip)

[2022-03-18 14:33] jordanekay commented on #190
Yes, all versions have the same issue. No version can be installed through Xcodes.app.

[2022-03-20 22:05] Jarboer commented on #163
@MattKiazyk Today was the first time trying out this app but unfortunately, I got the unable to install error message. I don't have the paying membership but I do have the free version. Is this issue still unfixed? I was able to install it from Apple's developer website under More by clicking View Details on the latest Xcode version. If I can install it from Apple there then why would it not work

[2022-03-21 16:45] rewgoes commented on #188
Same here

[2022-03-22 09:27] luicm commented on #193
I have same error, also M1

[2022-03-22 09:44] luicm commented on #193
oh it fixes if you Login with your Apple ID on Xcodes app!! sorry I didn't realised you needed to log in!

[2022-03-24 20:51] ryanvidal commented on #178
@MattKiazyk Any movement on a release? I'm wanting to install 13.3 on my machine soon and hoping to use Xcodes!

[2022-03-24 20:54] MattKiazyk commented on #178
Sorry @ryanvidal been busy - you can install the pre-release which should get around your issue.

[2022-03-24 20:59] ryanvidal commented on #178
🤦🏼 Sorry, I didn't even think to check if there was a pre-release version. Thanks for pointing it out (and for the app in general)!

[2022-03-29 12:57] MattKiazyk commented on #182
Fixed in 1.3.1

[2022-03-29 12:57] #182 closed

[2022-03-29 12:57] MattKiazyk commented on #181
Fixed in 1.3.1

[2022-03-29 12:57] #181 closed

[2022-03-29 12:58] MattKiazyk commented on #176
Closing this ticket as the faster unxip experiment is no in general release as of 1.3.1

[2022-03-29 12:58] #176 closed

[2022-03-29 15:55] Jarboer commented on #163
@MattKiazyk It works, thanks! This is going to be so nice to use to update Xcode!

[2022-03-29 15:56] #163 closed

[2022-03-29 15:57] MattKiazyk commented on #193
@MaxDesiatov can you try the latest 1.3.1 version. It should fix the unxip experiment.

[2022-03-29 16:27] MaxDesiatov commented on #193
Thanks, it does seem like the issue is fixed now.

[2022-03-29 20:50] muescha commented on #180
i also have the problem that it shows my xcodes as outdated in MAS - but i already have installed the new version with `xcodes`

[2022-03-31 00:40] MattKiazyk commented on #192
@gredman going to close this issue as newer 1.3.1 version handles these errors a bit better which can give you a better indication of what could be wrong.

Thanks!

[2022-03-31 00:40] #192 closed

[2022-03-31 00:42] MattKiazyk commented on #188
@ayafayad @eeeyyeeezz @rewgoes version 1.3.1 should fix a lot of these errors. I'm going to close this issue, but if you get any more similar issues, please let me know in this issue.

Thanks!

[2022-03-31 00:42] #188 closed

[2022-04-05 16:02] federicopolesello commented on #180
Yeah, it would be great if the active version could be rename with a default name `Xcode.app`

[2022-04-07 18:22] lukemmtt commented on #187
I'm not a contributor to XcodesApp, but I can offer a guess as to why it hasn't been published to the Mac App Store: Doing so would require significantly more effort for little gain, and this project's core function is very likely against Apple's terms of service.

Apps that are submitted to the Mac App Store are subject to much more restrictions and scrutiny than self-published apps. By default,

[2022-04-07 18:38] MattKiazyk commented on #187
@michael94ellis thanks for the question, sorry for the late response.

@lukemmtt is spot on with the comments. While I don't think it's against Apple's terms of service (we are just using their api's), we are working around the crappy experience of the Mac App Store when installing Xcode.

It has been thought about, and perhaps one day, but as stated, the gains of being more public in the AppStore

[2022-04-08 15:51] artemsmikh commented on #190
I've got the same issue. I can help with debugging the error if needed.

[2022-04-09 11:35] SimonRice commented on #190
I was also unable to install the latest version of Xcode via Xcodes with my system settings, with exactly the same error as above - I was attempting to install Xcode 12.3 on a machine that hadn't yet had that version installed.  As an aside, as a Brit, I had my locale set to en-GB - however, unusually I set my time format set to 12h.  The screenshot below shows my "Language & Region" settings:

<i

[2022-04-11 23:32] #190 closed

[2022-04-11 23:32] #187 closed

[2022-04-11 23:34] MattKiazyk commented on #173
Closing this issue since 1.3.1 tackles a lot of issues around json parsing. If there's other issues, please create a new issues. Thanks!

[2022-04-11 23:34] #173 closed

[2022-04-11 23:36] MattKiazyk commented on #169
@shulkk @dmkryzh 1.3.1 was released and fixes a few issues around parsing. I'm going to close this issue, but if the issue still persist, please open a new issue and we'll take a look

[2022-04-11 23:36] #169 closed

[2022-04-11 23:38] MattKiazyk commented on #183
Closing this issue. Tracking via https://github.com/RobotsAndPencils/XcodesApp/issues/148

[2022-04-11 23:38] #183 closed

[2022-04-12 13:22] chriscomeau commented on #174
For anyone else that has the same issue, not sure why it was disabled on my machine, but also had to re-enable the helper with:

`sudo launchctl enable system/com.robotsandpencils.XcodesApp.Helper`

[2022-04-14 02:03] #184 closed

[2022-04-14 03:11] MattKiazyk commented on #143
Adding the ability to automatically create symbolic links (if it can) named `Xcode.app` when you Select/Activate through Xcodes in #200

[2022-04-14 19:43] MattKiazyk commented on #110
Closing this issue as Symbolic link automatic generation is implemented as an option in the above PR!

[2022-04-14 19:43] #110 closed

[2022-04-15 13:23] MattKiazyk opened #201 "Automatic Create Symlink doesn't persist in preference"
**Describe the bug**
Newly created `Automatically create symbolic link to Xcodes.app` preference doesn't persist across app restarts

<img width="479" alt="image" src="https://user-images.githubusercontent.com/1119565/163575756-518fede4-fa2e-4455-a373-6a793558acbc.png">

**To Reproduce**
Check `Automatically create symbolic link to Xcodes.app` in preferences
Close Xcodes
Reopen. App shows as unche

[2022-04-19 00:25] MattKiazyk commented on #201
Closed via #202

[2022-04-19 00:25] #201 closed

[2022-04-19 00:27] #143 closed

[2022-04-19 22:55] dkorduban commented on #188
I encounter a similar issue with v. 1.4.0 (12)

[2022-04-19 22:57] MattKiazyk commented on #188
@dkorduban can you open up a new issue with information. If you have network logs that would be awesome as well

[2022-04-20 17:13] Caleb-Bolton opened #204 "When opening an installed xcode release, I get error alert: "Loading a plug-in failed""
**Describe the bug**
When attempting to open Xcode release 13.2.1 (already installed) in the xcodes GUI, an error window pops up saying:
"Loading a plug-in failed.
The plug-in or one of its prerequisite plug-ins may be missing or damaged and may need to be reinstalled."

I have the xcodes helper installed if that matters.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A

[2022-04-21 13:31] MattKiazyk commented on #204
Hi @Caleb-Bolton - Curious on a few fronts:
- Does opening through the regular way through Finder give you the same error?
- Do you have any Xcode plugins installed?

[2022-04-22 01:50] tinder-tannerbennett opened #207 "Show download progress as `X.XX GB of Y.YY GB`"
Currently the only progress indicator we have is the circle progress bar, which is not great.

[2022-04-22 13:30] MattKiazyk commented on #207
hi @tinder-tannerbennett, we show this information on the info bar. Tap the ℹ️ icon on the top bar.

 Please make sure you have selected `aria2` as your downloader:
<img width="535" alt="image" src="https://user-images.githubusercontent.com/1119565/164724037-4bc417e4-37ba-4e7e-a701-fb5e03920327.png">

<img width="305" alt="image" src="https://user-images.githubusercontent.com/1119565/164723931-4ba

[2022-04-22 13:30] #207 closed

[2022-04-22 22:35] calimarkus opened #209 "Avoid App Store updates & update prompts"
**Tell us how we can improve Xcodes**
Currently I have 13.3.1 installed through `Xcodes.app`, but the AppStore now shows me a pending update for 13.3.1 - the same exact version? How can that be avoided? Could `Xcodes.app` help disable the AppStore installation somehow? (Some config/plist/defaults setting maybe?)

**Is your feature request related to a problem? Please describe.**
It's a feature req

[2022-04-25 06:43] zrx89757 opened #211 "always show "Unable to install Xcode""
**Describe the bug**
always show "Unable to install Xcode"

**To Reproduce**
just downloaded xcodes.app, sign in my apple id, selected a version, click INSTALL

**Expected behavior**
install the target version of xcode

**Screenshots**
<img width="895" alt="image" src="https://user-images.githubusercontent.com/15121098/165034152-f4889c6f-28a2-4e7a-8d44-616340d48af8.png">

**Version**
 - OS: macOS

[2022-04-26 02:52] MattKiazyk commented on #209
Hi @calimarkus a few people have asked how, and I still haven't figured it out and my searches have come up empty handed.

I'm curious if the new symlink preference (create an Xcode.app link to the current version) would help?

[2022-04-26 03:00] MattKiazyk commented on #211
Hi @zrx89757 Can you make sure you're logged in properly via the Open Login option:

<img width="80" alt="image" src="https://user-images.githubusercontent.com/1119565/165211303-81f6d0bf-2a7f-4526-b4c6-ce47a8fddf16.png">

Usually download issues are a result of that.

[2022-04-26 03:06] calimarkus commented on #209
Sadly the symlink didn't help so far (at least not by creating it after the fact).

I also tried some manual renaming initially. So not sure if there's anything to the specific timing of things in my case. I wonder if fully uninstalling the AppStore version, before installing through Xcodes solves it. But testing that out on my old MacBook Air will take sooo long 😅

[2022-04-26 04:22] patrick-fu opened #213 "Can not install the privileged helper"
**Describe the bug**

I install the Xcodes app via homebrew, and the Xcodes version is 1.4.0 (12)

After the Xcode installed , it failed in the step of switch Xcode version.

**Screenshots**

<img width="791" alt="Screenshot 2022-04-24 at 19 14 09" src="https://user-images.githubusercontent.com/20736775/164973731-9d7ee9f4-c4ed-48bf-ac99-088b0634fb53.png">
<img width="791" alt="Screenshot 2022-04-2

[2022-04-26 08:05] fandiluo opened #214 "Unable to install Xcode. Xcode.xip is damaged and can't be expanded."
**Describe the bug**
The archive "Xcode-13.3.1+13E500a.xip" is damaged and can't be expanded.

**Screenshots**
<img width="900" alt="Screen Shot 2022-04-26 at 3 59 57 PM" src="https://user-images.githubusercontent.com/9468958/165251904-eb49cfd9-f949-4781-abfd-0f02a9715061.png">

**Version**
 - OS:  12.3.1

I reinstalled the operating system and xcodes, but I still get this error. How do I troubles

[2022-04-26 14:24] MattKiazyk commented on #214
Hi @fandiluo
If you browse to `/users/%username%/Library/Application Support/com.robotsandpencils.XcodesApp` you'll see the xip file there. So a couple of questions on that

- Is it the regular size (something like 12 GB)?
- if you double click it, does it give you an error?

If it's a small size, can you delete it, make sure you are logged into your Apple account on Xcodes and try again?
If it gi

[2022-04-27 01:23] fandiluo commented on #214
Yes, I have confirmed it. (Xcode 13.3 ~= 10.09 GB)

After I clicked on it, I got the same error

I'm sure I'm logged in...
I have compared the file sizes downloaded from the official site are the same.
I also tried using safari browser to download from the official site. I got the same error when I manually extracted the files.
I don't think it's a problem with XcodesApp, but I can't find a way to

[2022-04-29 03:05] MattKiazyk commented on #209
@calimarkus Came across this tweet: https://twitter.com/genegoykhman/status/1519833821964820483?s=20&t=x6XVojBGy5-805lRaXzPOg perhaps that works?

[2022-04-30 13:22] antoniogermano opened #215 "Impossible to install any Xcode version"
**Describe the bug**
XcodesApp is unable to install any Xcode version

**To Reproduce**
I've installed XcodesApp with Homebrew, authorized the helper app, and set up a valid Apple ID. I tried using aria2 and NSURLSession. I can't install any versions of Xcode at all. I always get this error message:
<img width="293" alt="image" src="https://user-images.githubusercontent.com/816290/166107199-b82b25

[2022-04-30 13:26] antoniogermano commented on #215
Possibly related to #211 although I have provided more information than the other report (and yes, the "show Apple ID" button presents my e-mail)

[2022-05-01 18:36] whatisyournickname opened #216 "Login fails and return error code as 412"
**Describe the bug**
Login fails and return error code as 412

**To Reproduce**
Log in, type in email and password, login fails

**Expected behavior**
Log in, type in email and password, login successful

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
 - OS:  Monterey 12.1
 - Xcodes: 1.4.0
<img width="903" alt="Screenshot 2022-05-02 at 2 34 51 AM" src="ht

[2022-05-04 09:14] iMokhles commented on #215
if you are already logged in you have to agree Apple Developer Agreement
go to
https://xcodereleases.com/
click on download any xcode version
login with your apple developer account
agree the Apple Developer Agreement
it will start downloading the Xcode version you want ( YOU CAN CANCEL IT )
Go BACK to Xcodes.app ( and it will work fine )

[2022-05-04 10:42] iMokhles commented on #211
Check my comment here:
https://github.com/RobotsAndPencils/XcodesApp/issues/215#issuecomment-1117091473

[2022-05-08 03:45] geoff-hom-gmail-com opened #217 "can't pause download"
I was in the middle of downloading Xcode, and I had to take a video call. I wanted to pause the download to maximize bandwidth. However, I could only cancel the entire download, so that's what I did.

If it's not too hard, would love to be able to pause the download and resume it later.

[2022-05-09 09:08] kingsword commented on #162
same issue~

[2022-05-10 02:06] MattKiazyk commented on #217
@geoff-hom-gmail-com a good suggestion - thanks.

You could have closed Xcodes, which, when started downloading again, would've resumed, but we don't specifically support the pause/resume, only the "something happened lets try to resume the download where it left off" scenario.

[2022-05-10 02:20] MattKiazyk commented on #216
Hi @whatisyournickname

Did this ever work for you? When logging into say developer.apple.com does the 2fa work?

[2022-05-10 02:24] MattKiazyk commented on #214
@fandiluo curious if you have enough space available on the Mac? It's strange that even downloading straight from the website through safari gives you the same error.

[2022-05-11 18:33] Caleb-Bolton commented on #204
I forgot what it was, but a popup saying a process started (during installation or startup) was shown and I believe I cancelled it as I thought it was unrelated to Xcodes. I think this is what caused the issue, because I either started it up or reinstalled and let that process finish and I had no more problems.

[2022-05-11 18:33] #204 closed

[2022-05-13 22:14] kupilot opened #221 "Unable to install Xcode"
**Describe the bug**
Fresh install of macOS Monterey, fully signed in my Apple ID, when trying to install Xcode 13.3.1 the app give error "Unable to install Xcode, Please file a bug report"

**To Reproduce**
1- start Xcodes.app
2- click on Install Xcode 13.3.1(13E500a)
3- Error "Unable to install Xcode." without any further information.
**Expected behavior**
It should be able to install Xcode.
**S

[2022-05-14 17:15] spike-hue opened #223 "Support Apple app-specific password to login"
**Describe the bug**
I created an app-specific password on https://appleid.apple.com. When I try to use the password, it fails.

Here are docs on app specific passwords: https://support.apple.com/en-us/HT204397

**To Reproduce**
1. Create app specific password at https://appleid.apple.com
2. Try to login Xcodes.app

**Expected behavior**
Can log in.

**Screenshots**
<img width="415" alt="Screen Sh

[2022-05-15 11:30] iMokhles commented on #221
check my comment here
https://github.com/RobotsAndPencils/XcodesApp/issues/215#issuecomment-1117091473

[2022-05-15 21:37] kupilot commented on #215
Did all that, still unable to install.

[2022-05-16 12:27] zocario commented on #216
Hi, I'm having the exact same issue, I'm unable to login within the App to download new versions of Xcode 🙈

[2022-05-16 22:39] babbage opened #224 "Keep Dock entry for Xcode and Simulator always up to date"
Xcodes is magic. Excellent work.

It would be icing on the cake—entirely unnecessary, but a quality-of-life flourish—if Xcodes could automatically update the dock entries for Xcode and the Simulator application to point to the active version of Xcode, when clicking "Make active"... so that I did not need to update these icons.

Upgrades to applications in the Dock work automatically if you replace

[2022-05-17 02:22] MattKiazyk commented on #223
hi @spike-hue we currently don't support this mechanism to log in. The way the app downloads the xip files, I'm not even sure if this is possible, but I've changed this ticket to an enhancement and will keep it open.

[2022-05-17 02:23] MattKiazyk commented on #216
@zocario if you log into developer.apple.com does it work?

[2022-05-17 12:26] zealforbeing commented on #178
I get this issue in v1.5.0. And v1.4.0 is OK!

[2022-05-17 13:12] MattKiazyk commented on #178
@zealforbeing hmm.

If possible, it would help if you could downloading the project and run it in debug mode. The big thing is what the responses from log in come back as. Looks like we're not handling certain cases very well.

[2022-05-17 21:45] spike-hue commented on #223
That's unfortunate. For security purposes, Apple recommends not freely inputting your Apple ID password into applications. While this app may be trustworthy, others keep your password for the wrong reasons. I really like the safety of using the app-specific passwords.

Would be great for your team investigates this!

[2022-05-18 02:47] calimarkus commented on #209
I think I got it finally resolved on my personal machine. Here's what I did:

I was in a pretty strange state, where the AppStore claimed that I have a pending Xcode update for 13.3.1. Even though I had 13.4 installed already (through Xcodes). The Xcode product page itself showed the "GET" button though, as if I didn't have Xcode installed..:

Product page | Updates page
-- | --
<img width="150" a

[2022-05-18 02:51] calimarkus opened #226 "Global statistics of Xcode install times (split by machine/version/settings)"
(A small idea, not direct product feedback.)

Xcode installs are sooo slow. I wonder how it compares on different machines.. Not sure if you already have any statistics, but it would be fun to create a global dashboard of install times across all installs through Xcodes by machine / version / Xcodes settings (e.g. the unzip experiment).

[2022-05-18 03:18] jakubziembinski opened #227 "App crashes when User cancels the Sign In"
**Describe the bug**
The app crashes when the User taps "Cancel on the "Enter 6 digit..." screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Sign In button
2. Enter correct credentials
3. Select "Next"
4. The Apple sign in prompt will be pushed on your devices - it doesn't matter what you select.
5. On the "Enter 6 digit code..." screen select "Cancel"

**Expected behavior**
The

[2022-05-18 03:19] MattKiazyk commented on #226
I would love to have more stats on how Xcodes is used! # of installs, Xcode versions, speed, total downloads, etc.

I struggle with the open source nature of the project and when collecting stats, where that would be sent to and most likely just myself having access to that data, and is that against the nature of open source.

[2022-05-18 04:08] MattKiazyk commented on #227
Thanks @jakubziembinski for sending this in - easily duplicated!

[2022-05-18 06:58] calimarkus commented on #226
That makes sense. I think there should be a few ways to do it. Here's some thoughts / me brainstorming (not sure how viable these ideas are):

1. Also make the backend (mostly) open source (and possibly even provide access to the raw data?)
2. Log to a private backend from within the open source code (and utilize the data in whatever way you intend. E.g. show stats in the app / on a website or onl

[2022-05-18 14:26] MattKiazyk commented on #180
Cheers @Jeehut - Thanks for the example of what you're wanting to do.

[2022-05-18 14:44] orta commented on #226
CocoaPods is a bit of an edge case here because it was quite involved but all server infra was OSS but the actual db was private (more because I never planned to make [the redshift db public](https://aws.amazon.com/redshift/)) we just provided solid APIs to the CP website and anyone wanting to look at that data.

I think a complementary example is homebrew: https://formulae.brew.sh/analytics/

Who

[2022-05-19 21:23] EthanLipnik opened #230 "App crashes when scrolling while installing"
**Describe the bug**
The app crashes when you scroll as a version of Xcode is installing.

**To Reproduce**

- Click install on an Xcode version
- Scroll on the main scroll view

**Expected behavior**
Able to scroll down while installing.

**Version**
 - OS: 12.4
 - Xcodes: 1.5.0

[2022-05-20 03:56] MattKiazyk commented on #230
Hi @EthanLipnik

I couldn't duplicate the crash from the steps above. See the video below.

I am on 12.3.1, so I'll try again once I update.

https://user-images.githubusercontent.com/1119565/169447116-7450e217-2b3b-4422-aeab-d68f96bafd85.mov

[2022-05-20 04:29] DD-P commented on #230
I couldn't reproduce either.  iMac Pro, macOS 12.4, Xcodes 1.5
Filtered to release-only, info panel displayed.  Xcode 13.3.1 selected and download initiated from info panel install button.

[2022-05-20 16:25] EthanLipnik commented on #230
Hi @MattKiazyk, I updated the issue with better reproduce steps and a screen recording

[2022-05-20 16:27] MattKiazyk commented on #230
Looks like you aren't even scrolling on that recording?

If you have time, could you clone the repo and try running the app in debug on your machine?

[2022-05-20 17:06] cuongtq4998 opened #231 "bug install xcode"
**Describe the bug**
cannot install xcode ver 13.2.1

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="625" alt="image" src="https://user-images.githubusercontent.com/54018352/169577769-99011beb-ae98-4b61-9a14-fee265c882c4.png">

**Version**
 - OS: 12.3
 - Xcodes: 13.2.1

[2022-05-20 17:17] MattKiazyk commented on #231
@cuongtq4998 can you try logging out and logging back into your Apple account on Xcodes.

[2022-05-20 17:21] cuongtq4998 commented on #231
@MattKiazyk  Did all that, still unable to install. :(((

[2022-05-20 17:25] cuongtq4998 commented on #231
still show alert as this

[2022-05-20 17:47] MattKiazyk commented on #231
@cuongtq4998  Do you have a proxy app that you can log the api response? The json that's being returned from apple is not what xcodes it's expecting and we are showing the generic error message.

[2022-05-20 20:29] DD-P commented on #230
At 6 secs the scrollbar thumb becomes visible, which suggests scrolling is attempted but doesn't actually occur on-screen.

[2022-05-21 04:14] khoi opened #232 "Call `lsregister` after installation"
**Tell us how we can improve Xcodes**

Call `lsregister` after installation so Xcode extensions can find Xcode.

This is a quirk of PluginKit described here https://nshipster.com/xcode-source-extensions/#using-pluginkit

**Is your feature request related to a problem? Please describe.**

**What would you like to see? How would you like it to work?**

For instance:
[code]

[2022-05-21 13:17] khoi commented on #232
Maybe call this when making a Xcode version as active would be more appropriate

[2022-05-22 04:21] radloffl commented on #172
Did some playing around with `curl` and figured out the path used to identify/initiate federated account log in. I replaced tokens and email addresses with examples for privacy.

### Example of account without federation
[code]
### Example of account with federation (Microsoft is IDP in this case)
[code]

[2022-05-22 05:04] radloffl commented on #172
After some more playing and reading the [SAML spec](http://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf) if federated, the next step would be to do an HTTP `GET` to the `idPUrl` with query parameters for the `requestParams` (`SAMLRequest` base 64 decoded to get XML -> deflated -> base64 encoded -> URL encoded, `RelayState` and `AccountName` are just passed through as query param

[2022-05-22 05:42] fandiluo commented on #214
It's a hardware problem.
The fact is that the memory on the motherboard is broken, but the computer is still working.
After replacing the motherboard, it works fine.

Thank you for your help!

[2022-05-22 05:42] #214 closed

[2022-05-30 23:52] petersamokhin opened #235 "xcodes aria2c error: Name resolution failed"
**Describe the bug**
Downloading doesn't start, I see an error:

**To Reproduce**
Steps to reproduce the behavior:
1. Use aria2c downloader.
2. Try to download any xcode version.

**Version**
 - OS: macOS Monterey Version 12.4 (21F79)
 - Xcodes: Version 1.5.0 (13)

No VPNs, proxy etc. is enabled.
Is it possible maybe to introduce an optional workaround like the one below?
https://github.com/aria2/

[2022-06-03 11:11] andrewcrook opened #237 "Support for Xcode Additional Utilities and update other aliases"
**Tell us how we can improve Xcodes**

- Allow the downloading and switching of Xcode Additional Utilities package from Apple developer site. Create folder for each version and switch

`/Applications/Xcode Additional Utilities`

<img width="678" alt="image" src="https://user-images.githubusercontent.com/803618/171842642-1f400b89-9f4d-4441-9048-3ebc42f5d696.png">

- When switching up date other sel

[2022-06-04 16:11] h3x4d3c1m4l commented on #148
Another use case for this functionality would be for Macs with small disks. Xcode itself takes a lot of space, then updating it using the App Store requires (temporarily) another large amount of disk space. Its iOS simulator needs a lot of space too...

Being able to manage Xcode instances on another disk would be very helpful with keeping Xcode internal disk usage to a minimum.

[2022-06-06 05:32] devlinlin opened #238 "Unable to unzip when Experimental unzip is checked"
**Describe the bug**
I found I met some problem installing Xcode when Experimental unzip is checked, it will hang at unzip stage forever, I think I start to get this problem since 2 versions early.
But when I unchecked the Experimental unzip, everything works fine.

**To Reproduce**
It just happens in my Mac, and I didn't see any similar issue in this repo.

**Expected behavior**
Should unzip when

[2022-06-06 12:32] MattKiazyk commented on #238
Hey @devlinlin
Sorry to hear about this. just tested on newest 1.6.0 and it seems to be working. The code for unxip is on https://github.com/saagarjha/unxip so if you can try and duplicate manually from the steps there and it still doesn't work, perhaps a bug on that repo. If it works there, let me know.
Thanks

[2022-06-06 22:34] radloffl commented on #172
[Apple.paw.txt](https://github.com/RobotsAndPencils/XcodesApp/files/8848661/Apple.paw.txt)

[2022-06-06 23:03] MattKiazyk opened #239 "Xcode 14 beta gives Failed Security assessment error"
**Describe the bug**
After downloading, unxipping, and moving to /applications folder Xcode gives  an error:

[code]

Xcodes is failing the call of `spctl --assess --verbose --type execute /applications/Xcoce-14.0.0-beta.app`

**To Reproduce**
Download Xcode 14 beta 1 - Xcode gives error

**Expected behavior**
Security assessment passes without error

**Screenshots**

**Version**
 - OS: 12.4
 - Xc

[2022-06-07 00:15] orand commented on #239
This just happened to me as well.

[2022-06-07 02:19] MattKiazyk commented on #239
Submitted a ~~bug report~~ feedback FB10049201 (spctl assess fails on Xcode 14.0-Beta)

[2022-06-07 08:53] janckoch commented on #142
+1

[2022-06-07 18:56] Candygoblen123 opened #242 "Crash when navigating to the Experiments tab on macOS 13 developer beta"
**Describe the bug**
When I navigate to the Experiments tab on macOS 13, the app crashes, however, when opening the app again and opening settings, the experiments tab is shown normally. Also, after navigating to another tab, the updates tab will crash the app as well.

**To Reproduce**
Steps to reproduce the behavior:
Open Xcodes.app, open preferences, click on experiments.

**Expected behavior**

[2022-06-08 02:47] MattKiazyk commented on #242
Thanks @Candygoblen123

I did see this too and I'll need to look into what is causing it. My guess it's attributed strings.

Once I find out why I'll let you know more. If you find it first please let us know.

[2022-06-08 14:11] MattKiazyk commented on #242
Well this one should be fun :)

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/1119565/172638121-b51ae0b7-a39f-4f96-85bb-39ba44b5280b.png">

[2022-06-08 15:27] MattKiazyk commented on #242
Yeah feel free to submit! When I have some free time I'll take a deeper look. That screenshot is from an intel Mac (on MacOS 14) so don't think it has to do with Architecture.

[2022-06-08 16:07] MattKiazyk opened #244 "Min supported message on localized String"
**Describe the bug**
When the minimum supported MacOS alert shows, the message localized String doesn't look up the string correctly

**Screenshots**
<img width="317" alt="image" src="https://user-images.githubusercontent.com/1119565/172664636-e18265b5-36ba-4d66-bccd-b453a22e773b.png">

**Version**
 - OS:  12.4
 - Xcodes: 1.6.0

[2022-06-09 08:23] davidAg9 commented on #215
my installs but the unarchiving stage has taken me 2 days now on my 2020 MacBook Pro , I don't know if it has to do with storage or something else .... Does Xcodesapp report low storage if there is ?

[2022-06-09 12:16] egrimo commented on #242
The catch I could see is that "**ForEach<Array<Xcode>, Version, XcodeListViewRow>: the ID 3.2.3+10M2262 occurs multiple times within the collection, this will give undefined results!**" thrown on the Advanced Settings Pane's DataSource Enum which indicates the resource as either Apple or Xcode Releases.

[2022-06-09 13:37] MattKiazyk commented on #242
Hey @egrimo - that warning is on the app now and is because the datasource has multiple 3.2.3 versions. (Should probably filter reallllly old versions at some point)

It's some SwiftUI crash:

[code]

[2022-06-09 16:08] KyLeggiero opened #247 "Only notify on success or failure"
#### Tell us how we can improve Xcodes ####

Currently, Xcodes sends a notification for each of the 6 steps. Personally, I only care if the final step succeeded, or if any step caused an irrecoverable failure. Because that's all I care about, I'd like the ability to tell Xcodes to only notify my when that happens, **not** when every intermediate step completes.

#### Is your feature request relate

[2022-06-11 07:19] tatsuz0u opened #250 "App crashes when cancelling authorization via SMS"
**Describe the bug**
A clear and concise description of what the bug is.
Same as the issue title.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in with Apple ID.
2. Send SMS, click continue.
3. Click cancel.

**Expected behavior**
A clear and concise description of what you expected to happen.
Don't crash.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-06-11 07:20] tatsuz0u commented on #250
Duplicated. #227

[2022-06-11 07:20] #250 closed

[2022-06-13 13:31] MattKiazyk opened #252 "Info pane buttons sometimes cut off text in some localizations"
**Describe the bug**
In some languages the buttons get concatenated on the info pane. This may cause some confusion as to what the word is. The workaround is just to expand the info panel a bit, which will show the word.

**To Reproduce**
Open the app in Japanese. Look at the buttons on the info pane

**Expected behavior**
Buttons should be able to expand width to fit their text.

**Screenshots**

[2022-06-13 23:46] chickdan commented on #180
I'm in agreement with Jeehut, Xcodes is "marketed" as a management tool for multiple version and not necessarily a launcher that you have to use if you don't want to to use search every time you attempt to open Xcode. Like Jeehut I keep Xcode on my dock for quick access, having the Active version renamed would be delightful!

[2022-06-14 14:34] andrewcrook opened #254 "[Bug] extension point errors for some command line tools and xcodebuild"
**Describe the bug**
running some command-line tools such as `man` and `xcodebuild` results in the following errors.

[code]

**To Reproduce**
`xcodebuild`

**Expected behavior**
No errors

**Screenshots**
[code]

*** Other info ***
I have searched online people talk about installing commandline tools via
`xcode-select --install`
This installs into ` /Library/Developer/CommandLineTools`
However, X

[2022-06-16 02:22] #244 closed

[2022-06-20 07:46] ursforrer commented on #172
Is there any plan to support the feraded apple id for xcodes?

[2022-06-23 00:03] orand commented on #239
Yep, installing beta 2 worked perfectly for me.

[2022-06-23 01:55] LHY-42 opened #256 "Cannot install Xcode 14 Beta"
**Describe the bug**
A clear and concise description of what the bug is.
I tried to install the Xcode 14 Beta 2 but received an error message.
**To Reproduce**
Steps to reproduce the behavior:
Click "install" next to the Xcode 14 Beta
**Expected behavior**
A clear and concise description of what you expected to happen.
I expected the Xcode Beta to be installed
**Screenshots**
If applicable, add sc

[2022-06-29 15:25] parrots opened #261 "Helper to Backport Beta Platform Support"
**Tell us how we can improve Xcodes**
Running on Beta Life (TM) can be harsh if you need to use a non-beta Xcode for some reason. Xcode is unable to work with a device running the betas because it doesn't have the device support.

**What would you like to see? How would you like it to work?**
There's been a trick for years that you can copy the platform support from the beta Xcode back into any pr

[2022-07-11 19:47] alexanderniebuhr commented on #242
I just experienced multiple crashes on navigation in the settings. I've attached my newest crash logs:

<details>
  <summary>Expand to get crash log!</summary>

[code]
</details>

[2022-07-12 00:03] GetToSet commented on #242
PR #258 was a quick fix to this problem that I've made.

[2022-07-15 10:10] jaimeeee commented on #256
@LHY-42 did you try going to your Developer's portal already? You might need to accept a new agreement.

[2022-07-16 05:44] devlinlin opened #265 "Xcodes crash on macOS Ventura Beta3"
**Describe the bug**
Xcodes 1.6.0 crash on macOS Ventura beta 3 when open the experiment tab in preference panel.
Also can not open preference panel with the setting button.

**To Reproduce**
video:
https://user-images.githubusercontent.com/19910304/179341452-954f31e5-e7bc-4de1-b55e-b3f44c1b2b37.mov

**Expected behavior**
Should open the preference panel by clicking the setting button.
Should not

[2022-07-22 02:55] ama-non commented on #215
works fine,  thank u

[2022-07-24 17:36] #227 closed

[2022-07-24 18:03] #239 closed

[2022-07-24 18:40] #242 closed

[2022-07-24 18:55] MattKiazyk commented on #265
Should be fixed via #242 - will be on the next release.

[2022-07-24 18:55] #265 closed

[2022-07-24 20:35] MattKiazyk commented on #180
I've made a PR that implements renaming to `Xcode.app` on Select. I'll give it a few days to look over and merge it in, but should be available next release.

Thanks for the suggestion.

[2022-07-24 20:52] #209 closed

[2022-07-27 21:40] babbage commented on #247
Came here to post the exact same feedback. I am working in Xcode 13.x but want to install the latest Xcode 14 beta. Having started the process, I want to go back to deep concentration on my other work.

I love Xcodes handling the install, and the best assistant is one that works as independently as possible and only comes back to the boss if there is a problem, or to let them know the job is done.

[2022-07-28 23:19] #180 closed

[2022-08-09 00:53] #8 closed

[2022-08-09 00:53] #148 closed

[2022-08-09 01:51] MattKiazyk commented on #180
@chickdan @Jeehut @ptrkstr

This enhancement is now available in 1.7. Please test it out, and let me know if there are any issues.

[2022-08-09 13:27] Jeehut commented on #180
It is unchecked:
![Screen Shot 2022-08-09 at 15 27 23](https://user-images.githubusercontent.com/6942160/183658805-2e57cc91-8b3b-4aa2-b323-86d7617d49b0.png)
![Screen Shot 2022-08-09 at 15 27 37](https://user-images.githubusercontent.com/6942160/183658931-41eed4af-350f-4b31-8f70-85bdb9b75aa8.png)

[2022-08-09 13:30] Jeehut commented on #180
Note that it unchecks (and additionally disables) automatically when I switch to "Always rename to Xcode.app" even when it's checked before. When I then go back to "Keep name as Xcode-X.X.X.app" it stays unchecked (but enables). Maybe there's something wrong with the persistence as you seem to be right that it looks like it's turned on based on the error message ...

[2022-08-09 13:54] MattKiazyk commented on #180
@Jeehut can you create a new ticket and I will look into it.

[2022-08-10 16:14] VaslD commented on #254
Those warnings are likely bugs from recent Xcode releases. I’ve seen them on M1 (Apple Silicon) Macs mostly, with Xcode installed via vanilla XIPs downloaded from Apple Developer Downloads (without using any third-party software in the process).

- - - - -

Also, Xcode (the app) has nothing to do with Xcode Command Line Tools (CLT) installed in `/Library/Developer`. They are independent.

CLT is m

[2022-08-16 16:58] alex-taffe opened #273 "Donation link"
This app is honestly one of the most helpful and reliable things I use, you should definitely add a donation link to the project, would be happy to throw you a few bucks

[2022-08-18 15:37] alejandroivan opened #275 "Xcodes app logging me out when reopening it"
**Describe the bug**
After logging in into my Apple ID, after reopening the app (Cmd+Q and then open again), the Apple ID is not logged in anymore.

**To Reproduce**
Steps to reproduce the behavior:
- Log in using your Apple ID
- Quit Xcodes (Cmd+Q)
- Reopen the Xcodes app.
- The Apple ID is not signed in anymore.

**Expected behavior**
To have the Apple ID still signed in when reopening the app.

[2022-08-19 15:20] kotleni commented on #273
Yes! 😮

[2022-08-26 10:47] Jeehut opened #278 ""Always rename to Xcode.app" option doesn't work"
I just downloaded the latest Xcode beta and when I tried to make it the active one with this option enabled, I received this error dialog. This way, the feature isn't any useful as the whole point is to free me from having to rename things myself.

I would have expected that the current Xcode which is just named `Xcode.app` to be renamed to `Xcode-13.4.1.app` and the newly selected beta one to be

[2022-08-26 10:47] Jeehut commented on #278
This is what my settings look like:
![Screen Shot 2022-08-09 at 15 27 23](https://user-images.githubusercontent.com/6942160/183658805-2e57cc91-8b3b-4aa2-b323-86d7617d49b0.png)
![Screen Shot 2022-08-09 at 15 27 37](https://user-images.githubusercontent.com/6942160/183658931-41eed4af-350f-4b31-8f70-85bdb9b75aa8.png)

[2022-08-26 14:50] justanobody2107 opened #279 "Duplicate download bar when downloading multiple versions at once"
**Describe the bug**
When downloading multiple versions of Xcode at once, the download bar for their installations is the same, even if one was already at 50%+. It becomes impossible to understand how much the first download has progressed due to the progress bar only showing the most recent download.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a download for some Xcode version
2.

[2022-08-26 20:08] justanobody2107 commented on #279
~~We're gonna ignore the fact I downloaded 13.1 when it's not compatible with Ventura~~
The issue appears to be random, and upon further investigation, it displays the first download only, and it appears to have restarted it.

[2022-08-29 16:19] jsorge opened #281 "Add Xcode Beta Symlinking/Renaming Options"
**Tell us how we can improve Xcodes**
When working with Xcode betas, it would be great to have 2 new things (which are related I think):

1. The ability to rename the betas to `Xcode-beta.app` just like they are when downloaded from the dev portal.2.
2. The ability to symlink an Xcode beta as `Xcode-beta.app`.3.

The motivation for this would be to aid in tooling which can target either Xcode prod

[2022-08-31 13:46] darthsteff opened #282 "Missing localizations for de_DE"
**Describe the bug**
There seem to be a couple of untranslated strings - indicated by the appearance of their localization key (see attached screenshots)

**To Reproduce**
Change macOS language to German, open the settings page of Xcodes

**Expected behavior**
All strings should be localized.
I'll gladly provide help if required.

**Screenshots**
If applicable, add screenshots to help explain your

[2022-09-02 17:07] lukepistrol opened #283 "Command Line Interface"
**Tell us how we can improve Xcodes**

It would be very nice if we could access `Xcodes` via command line.

**Is your feature request related to a problem? Please describe.**

No.

**What would you like to see? How would you like it to work?**

This would make it possible to make it work with dot files.

Some examples to consider:

- `xcodes install --latest --include-beta`
- `xcodes install "13.4

[2022-09-02 17:09] lukepistrol commented on #283
Nevermind. Just found [this](https://github.com/RobotsAndPencils/xcodes) in your README.

[2022-09-02 17:09] #283 closed

[2022-09-07 23:37] MattKiazyk commented on #282
@drct do you have a few minutes to update this?

[2022-09-08 05:46] drct commented on #282
@MattKiazyk Sure, I'm on it

[2022-09-08 07:47] groue opened #286 "Do not delete the downloaded xip after a download has completed"
**Tell us how we can improve Xcodes**

Hello, what about keeping the downloaded xip files on disk after a download? This could help sharing it with other people on the same LAN.

**Is your feature request related to a problem? Please describe.**

The "problem" is that after a long download has completed, I can't share my downloaded xip with other people in the room.

**What would you like to see?

[2022-09-09 02:57] lost-soul999 opened #287 "sorry I fixed the issue"

[2022-09-09 03:03] #287 closed

[2022-09-10 20:14] drct commented on #282
Done

[2022-09-11 06:29] oronbz opened #289 "Unable to install Xcode (DecodingError)"
**Describe the bug**
I've Installed Xcodes from homebrew, signed in with my appleID, trying to install any version gives:
Unable to install Xcode: `Error.dataCorrupted`, `Swift.DecodingError`

(I've tried restarting the app)

**To Reproduce**
1. Install Xcodes from homebrew
2. Sign in
3. install any version

**Expected behavior**
Xcode will be installed

**Screenshots**
<img width="1012" alt="imag

[2022-09-12 11:39] alkozin commented on #223
Waiting for app-specific password support too.

[2022-09-13 09:25] BarMalka commented on #289
Having the same issue. Doesn't matter which Xcode I'm trying to download.

[2022-09-13 12:54] MattKiazyk commented on #289
Related: https://github.com/RobotsAndPencils/XcodesApp/issues/190

@oronbz @BarMalka Sorry for the troubles. In the linked ticket about, we believed it may have something to do with your language setting? We thought we had fixed that issue but perhaps not.

For completeness do any of your Mac's have a non english language or keyboard?

Secondly another thing to try is go to the downloads page: htt

[2022-09-14 03:20] MattKiazyk commented on #286
Hey @groue

Thanks for the suggestion. Xcodes does just move the xip to the trash bin. It doesn't delete it fully. So you could just move that xip out of the trash to whereever you need to so others can use it.

Please let me know if that answers your question

[2022-09-14 03:20] MattKiazyk commented on #282
Thanks @drct!

[2022-09-14 03:20] #282 closed

[2022-09-14 04:27] groue commented on #286
Oops, it just looks like I requested a feature that was already implemented 😅

(Just confirmed: a downloaded archive is sitting right in my trash bin)

Thank you for the great app!

[2022-09-14 04:27] #286 closed

[2022-09-17 08:39] JJAYCHEN1e commented on #286
Can we just provide an option to not move it to the trash? I checked out my trash, but unfortunately I've cleaned my trash..

[2022-09-17 11:13] juanjonol commented on #110
I'm afraid the OP request isn't really solved: symlinks are really useful for tools that are looking for `/Applications/Xcode.app`, but symlinks cannot be placed on the Dock, only macOS (Finder) alias can.

I don't think this is something that can be easily solved by Xcodes.app or `xcodes`, so I think this should remain closed.

[2022-09-17 21:49] egesucu opened #291 "Splitting Advanced Tab to 2 different tabs"
As of now, Advanced setting is filled up with many settings and it would need a space where it would be hidden behind the bottom bar.

Suggestion: Split the options into two section.

<img width="503" alt="Ekran Resmi 2022-09-17 23 28 00" src="https://user-images.githubusercontent.com/16636371/190877411-e4487fc4-b4a4-47c9-8ff1-42cf12f61b95.png">

[2022-09-18 22:38] klundberg opened #292 "unxip experiment hangs when not enough space on target drive"
**Describe the bug**

I was recently trying to install an updated xcode on a machine with a small hard drive. The target drive didn't have enough space to unxip properly, and when using the unxip experiment, xcodes hung on the unxipping step. When i turned that experiment off, i shortly got a popup saying there wasn't enough space on the drive to unxip properly.

**To Reproduce**
Have xcodes try t

[2022-09-20 19:07] egrimo opened #293 "Improving TextField foregroundColor on Dark Mode"
**Describe the bug**
The placeholder color in the textfield is black on dark mode which is not good on UI

**To Reproduce**
Opening the app in dark mode

**Expected behavior**
Placeholder color should be white.

**Screenshots**
![image](https://user-images.githubusercontent.com/16636371/191343449-ae8eb729-50c7-4feb-8bdd-c9f80435bab1.jpeg)

**Version**
 - OS: macOS Ventura Beta 8
 - Xcodes: 1.8.0

[2022-09-20 20:21] egrimo commented on #293
#294 added for a solution idea

[2022-09-22 16:02] maxgoedjen opened #295 "Allow user to opt out of privileged helper flow"
**Tell us how we can improve Xcodes**
Would be nice to have an option that was basically "just download Xcode but don't worry about the privileged helper bits."

**Is your feature request related to a problem? Please describe.**
NA

**What would you like to see? How would you like it to work?**
Instinct is just a checkbox in prefs for "don't activate" or something. If that sounds okay, I can take

[2022-09-24 11:53] #231 closed

[2022-09-29 04:03] MattKiazyk commented on #289
This should be fixed now with v1.8 that doesn't require any Apple accounts to download Xcode

[2022-09-29 04:03] #289 closed

[2022-09-29 04:04] MattKiazyk commented on #275
Closing this as we no longer require apple accounts (even though the login is still there). It will most likely be removed in a future version at some point.

[2022-09-29 04:06] MattKiazyk commented on #254
Closing this as it should be in the https://github.com/RobotsAndPencils/xcodes repo. If it still is happening with please open an issue there. Thanks

[2022-09-29 04:06] #254 closed

[2022-09-29 04:07] #238 closed

[2022-09-29 04:09] MattKiazyk commented on #223
As of v 1.8.0 we no longer require any passwords to download Xcode 🥳

[2022-09-29 04:09] #223 closed

[2022-09-29 04:10] MattKiazyk commented on #216
As of v1.8 we no longer require apple accounts to download Xcode so these errors won't show up anymore 🥳

[2022-09-29 04:10] #216 closed

[2022-09-29 04:10] MattKiazyk commented on #215
As of v1.8 we no longer require apple accounts to download Xcode so these errors won't show up anymore 🥳

[2022-09-29 04:10] #215 closed

[2022-09-29 04:11] MattKiazyk commented on #211
As of v1.8 we no longer require apple accounts to download Xcode so these errors won't show up anymore 🥳

[2022-09-29 04:11] #211 closed

[2022-09-29 04:11] MattKiazyk commented on #172
As of v1.8 we no longer require apple accounts to download Xcode.  🥳 I'm going to close this issue as I believe the main concern was around username/password.

[2022-09-29 04:11] #172 closed

[2022-09-29 04:12] MattKiazyk commented on #132
As of v1.8 we no longer require apple accounts to download Xcode so these issues won't show up anymore 🥳

[2022-09-29 04:12] #132 closed

[2022-09-29 10:25] lewis-smith opened #298 "Automatically download optional simulators"
A big advantage for me of Xcodes is when the betas are released I can set them downloading and then when I start work get straight to it.

Since Xcode 14 apple no longer include all the simulators with Xcode. I get why they do this, but it's still frustrating on first run, especially during beta season.

It would be amazing if I in Xcodes I could choose which extra sims I need (in my case, just wa

[2022-10-01 15:32] medcalc opened #301 "Skip validation"
Could you include the option to skip validation when installing ? (providing this is not already what you do)

xip -x Xcode-14.0.1.xip`.

The `-x` switch skips the validation step

[2022-10-18 19:32] #293 closed

[2022-10-19 06:46] uyloal commented on #230
Hi @MattKiazyk , I also met this crash.

Feels like the crash will happen in the Xcode install steps, I met the crash when I scroll and unzip the xip file

Here is a crash reports, may be informative:

[code]

[2022-10-19 14:07] alex-taffe opened #312 "Add overlay to Xcode app icon to indicate version"
**Tell us how we can improve Xcodes**
I am routinely swapping between versions of Xcode. You can obviously hover to see the version name, but being able to quickly at a glance see the version in the dock would be great.
![image](https://user-images.githubusercontent.com/6820226/196713209-486acbae-6be0-46db-abfa-c15dc4c050f7.png)
**Is your feature request related to a problem? Please describe.**
It

[2022-10-20 12:25] uyloal commented on #230
@MattKiazyk I think it's not caused by XcodesApp.
When I quit Alt-Tab app, crash never happened.

Hi, @EthanLipnik. Did you also have Alt-Tab installed?

[2022-10-20 14:04] EthanLipnik commented on #230
@uyloal i did not. I even experienced this crash on new installations of macOS

[2022-10-25 11:46] ekurutepe opened #314 "Command line option to install by build number"
**Tell us how we can improve Xcodes**
The current command line option to install with release name is error prone. Allowing install by build number would reduce the opportunity for fat fingers.

In other words: `xcodes install 14B47b` should work in addition to `xcodes install 14.1 Release Candidate 2`

Thanks and keep up the good work!

[2022-10-25 17:48] bjhomer opened #315 "Better version names"
**Tell us how we can improve Xcodes**
I'm proposing a prettier naming scheme for the various Xcode versions. I think it should still be unambiguous; it would just be a little easier to read at a glance.

**Is your feature request related to a problem? Please describe.**

**What would you like to see? How would you like it to work?**
Currently, Xcode names are like this:

[code]

I propose that the

[2022-10-25 19:19] ptrkstr commented on #315
Great suggestion!

[2022-10-26 06:33] appfrosch opened #316 "Cannot install Xcode 14.1 Release Candidate 2 (14B47b)"
**Describe the bug**
I get the error "Unable to install Xcode" in Xcodes when I try to download Xcode 14.1 Release Candidate 2 (14B47b).
This applies only to this version; the others seem to work just fine.

Please note: I already tried to download from Apple's website which is working fine–so it is _not_ an issue with any updated agreements I did not acknowledge yet.

**To Reproduce**
Steps to re

[2022-10-26 13:14] MattKiazyk commented on #316
@appfrosch sorry about the problems. There def is something up with your machine. Couple of things to check:
- assuming using Xcode releases data source
- if using aria2 is that installed?

Does this happen on all versions?

[2022-10-26 13:21] MattKiazyk commented on #314
Hey @ekurutepe - this should belong in [xcodes repo](https://github.com/RobotsAndPencils/xcodes) - but it looks like somebody has an [open PR](https://github.com/RobotsAndPencils/xcodes/pull/232) for it already

[2022-10-26 13:21] #314 closed

[2022-10-26 13:22] lukemmtt commented on #316
I'm experiencing the same error.

[2022-10-26 14:03] MattKiazyk commented on #316
If you go to `~/users/XXXXX/Library/Application Support/com.robotsandpencils.xcodesapp` is there any existing downloads stuck there?

You can get there easily through the `Local Cache Path` in in Settings > Advanced

[2022-10-27 12:48] #316 closed

[2022-10-29 17:03] ylluminate opened #317 "Unarchiving step hangs"
**Describe the bug**
With or without using the "Faster Unxip" function, the unarchiving step hangs forever:
"Step 2 of 6: Unarchiving (This can take a while)" last for 10+ hours.

**To Reproduce**
Attempt to install 14.1 Release Candidate 2.

**Expected behavior**
Installation should occur.

**Screenshots**
![image](https://p153.p0.n0.cdn.getcloudapp.com/items/4guepZno/b2769f7a-d33d-455c-900a-246d

[2022-11-01 21:29] iosdevben opened #319 "Error when attempting to install Xcode 14.1 (14B47b)"
**Describe the bug**

The below error occurs when I try to install Xcode 14.1 on macOS Monterey 12.6 running on a MacBook Pro Apple M1 Pro (16-inch, 2021) Apple M1 Pro.

I previously had no trouble installing 14.1 beta 3.

I tried uninstalling 14.1 beta 3 to see if that would help, but I still get the error when attempting to install 14.1.

**To Reproduce**
Try to install 14.1

**Expected behavior

[2022-11-01 21:36] MattKiazyk commented on #319
Sorry for the troubles @iosdevben - did the steps in a previous issue: https://github.com/RobotsAndPencils/XcodesApp/issues/316#issuecomment-1292231562 fix your issues?

[2022-11-01 22:17] iosdevben commented on #319
Yes, that fixed it. Thanks!

[2022-11-01 22:17] #319 closed

[2022-11-01 22:18] iosdevben commented on #319
Ig guess the bug is that Xcodes can not recover from this situation without manual intervention from the user.

[2022-11-02 00:48] beeradmoore opened #320 "Xcodes downloads html page as xip file rather than xip"
(EDIT: I have a workaround in the first comment below but leaving open so devs are notified and can handle http status codes/invalid xip files correctly)

**Describe the bug**
Attempting to download the Xcode 14.1 (current latest) gives an error.

I did originally get the "downloading 1/6" notification followed by an error (I am not 100% sure if it was the same error). Now hitting install I get th

[2022-11-02 00:52] beeradmoore commented on #320
Hmm.. Deleting `Xcode-14.1.0+14B47b.xip` allowed it to download correctly, did not need to restart Xcodes.

Going to leave the issue open so devs can see and handle the situation where xip is actually saved as a html file. `available-xcodes.json` doesn't seem to have hash or expected filesize which would be handy to compare against.  Unsure how network implementation is and if you can handle the h

[2022-11-02 09:11] ilawsonlu commented on #320
yes, I have the same problem, just delete the downloaded Xcode, and then install again, it's done

[2022-11-02 13:15] MattKiazyk commented on #320
Thanks @beeradmoore - can you (if you still have it) zip up the .xip file so I can see what I can improve there. I'm thinking any file might do, but just in case I would like to get a real example.

Thanks

[2022-11-02 15:45] cyrillelegrand opened #321 "Open in Rosetta"
It would be nice to have a quick toggle for changing the flag "Opens in Rosetta" faster than using the Finder.

I have some old projects at work that need to work in Intel mode and it's a pain to have to toggle it manually every time.

[2022-11-02 15:52] mladenny commented on #320
I’m not @beeradmoore, but I had the same issue, so here you go: the zipped “.xip” file.

[Xcode-14.1.0+14B47b.xip.zip](https://github.com/RobotsAndPencils/XcodesApp/files/9922035/Xcode-14.1.0%2B14B47b.xip.zip)

[2022-11-02 16:33] MattKiazyk commented on #316
Tracking with what really happens via: https://github.com/RobotsAndPencils/XcodesApp/issues/320

[2022-11-02 22:33] beeradmoore commented on #320
My file was gone. I checked the one from @mladenny and it looked very very similar (if not the same) to mine.

[2022-11-09 07:03] kayaYuan commented on #213
I use `sudo launchctl enable system/com.robotsandpencils.XcodesApp.Helper`  fix it
maybe you can try it

this code can list the disabled services
`launchctl print-disabled system`

[2022-11-09 11:00] patrick-fu commented on #213
🎉 Wow it worked, thanks! @kayaYuan

[2022-11-09 11:00] #213 closed

[2022-11-10 20:33] rzulkoski commented on #112
Any movement on this? This would be useful for a use-case I have as well.

[2022-11-11 15:34] #291 closed

[2022-11-11 17:27] #144 closed

[2022-11-11 19:09] parrots commented on #298
FWIW, there seems to be a new simctl option for managing runtimes. `simctl runtime` lets you add / delete runtimes, but you need the disk image to be able to add a runtime. I don't see anything (at a quick glance) for getting a list of remote downloads available for runtimes and managing that.

[2022-11-15 05:23] hackenbacker opened #323 "Cannot download and install some version of Xcode"
**Describe the bug**
When I try to install Xcode, I get the following error message.

Could not install Xcode
This archive "Xcode-11.7.0+11E801a.zip" is corrupt and cannot be expanded.

I downloaded it directly from xcodereleases.com with success.

**To Reproduce**
Data Source = "Xcode Releases"
1) Select 11.7 (11E801a). or 12.5.1 (12E507).
2) Push [Install] button.
3) Then the error message appea

[2022-11-15 05:46] zonezs opened #324 "Unable to install Xcode"
**Describe the bug**
A clear and concise description of what the bug is.

The operation couldn’t be completed. (Error.dataCorrupted(Swift.DecodingError.Context(codingPath: [], debugDescription: "The given data was not valid JSON.", underlyingError: Optional(Error Domain=NSCocoaErrorDomain Code=3840 "Invalid value around line 1, column 0." UserInfo={NSDebugDescription=Invalid value around line 1, c

[2022-11-15 05:53] zonezs commented on #324
Then i will update for it，and now is well.

Thank you.

[2022-11-15 05:53] #324 closed

[2022-11-15 11:58] MartinP7r commented on #320
The same is happening for me.

[Xcode-14.0.1+14A400.xip.zip](https://github.com/RobotsAndPencils/XcodesApp/files/10012332/Xcode-14.0.1%2B14A400.xip.zip)

[2022-11-15 13:24] iseruuuuu commented on #323
I face same problem

[2022-11-15 13:40] jclardy opened #325 "Can't Install 14.1 on macOS Ventura"
**Describe the bug**
On my macOS Ventura (13.0) machine (M2 Air) I cannot install Xcode 14.1 (14b47b). The Release Candidate version works fine, or any prior versions I have tried. I have tried both being logged in and not logged in, tried a reinstall of Xcodes via brew, all result in this error:

[code]

**To Reproduce**
On macOS Ventura, install Xcodes.app and attempt to install the latest xcode

[2022-11-15 14:02] andreasheick-isobar commented on #323
Same issue here

[2022-11-15 15:43] karim-elgendy commented on #323
Yup, suffering the same problem

[2022-11-15 16:30] pqhcker opened #326 "Can't install any version of xcode"
**Describe the bug**
When I try to install any version of xcode, always prompt this error screen, I saw some bug reported, and I already delete files in Application Support Folder, but the problem persists.

**To Reproduce**
Click on install button

**Expected behavior**
Install Xcode selected version

**Screenshots**
<img width="915" alt="Xcodes_y_alejandrosolano_—_-zsh_—_80×24_y_GitHub_-_RobotsA

[2022-11-15 16:37] pqhcker commented on #326
Ok, it seems that if I change the data source, instead of using XCode Releases I use Apple, it starts working for some reason, I still don't know if it installs but I'll let you know

[2022-11-15 19:03] MattKiazyk commented on #323
Hey everyone. It looks like Apple has blocked the way we were getting a download token without having to log in, which is causing this issue. 😢

Workaround for now is to switch to Apple datasource and download using the original way with your Apple username/password.

[2022-11-15 19:04] MattKiazyk commented on #326
Closing track through #323

[2022-11-15 19:04] #326 closed

[2022-11-15 19:05] MattKiazyk commented on #320
Closing - track through #323

[2022-11-15 19:05] #320 closed

[2022-11-16 09:59] RbBtSn0w opened #327 "Download old version Xcode was fail."
**Describe the bug**
A clear and concise description of what the bug is.

try downloading for Xcode 10.

**To Reproduce**
Steps to reproduce the behavior:

try downloading for Xcode 11.
try downloading for Xcode 10
try downloading for Xcode 9.

**Expected behavior**
A clear and concise description of what you expected to happen.

I have tried switching to Data source or Downloader, shows an error

[2022-11-16 14:35] #327 closed

[2022-11-17 07:30] leon-wolf commented on #323
What about reimplementing the old download with login as a fallback if download without login fails?

[2022-11-17 09:58] b-onc commented on #323
@MattKiazyk When I switch to Apple datasource, I immediately get the error "Unable to update selected Xcode" and when I tap refresh, the same error appears. Install attempt on any Xcode version shows the same error.

[2022-11-17 14:38] MattKiazyk commented on #323
@leon-wolf Yes a new version will at least flip back to the requirement of login.

@b-onc One thing you can try is to delete the bad `xip` file. Delete any file at `~/Library/Application Support/com.robotsandpencils.xcodes`

[2022-11-22 17:16] cschep commented on #312
cool idea! -- is there a programmatic way of changing app icons I wonder..?

[2022-11-22 19:33] alex-taffe commented on #312
I _think_ this should work
[code]

https://developer.apple.com/documentation/appkit/nsworkspace/1529882-seticon

[2022-11-23 03:33] #281 closed

[2022-11-23 04:03] MattKiazyk commented on #323
New 1.9.0 version was released tonight that should fix the downloading and revert back to having to use username/password.

[2022-11-23 04:03] #323 closed

[2022-11-23 10:19] yossizahn opened #329 "Error downloading any version: "Date string does not match format expected by formatter""
**Describe the bug**
I get an error downloading any version: "Date string does not match format expected by formatter"
The full message is:
[code]
The actual value in the JSON (at `["downloads"][2]["dateModified"]` retrieved through `mitmproxy`) is:
[code]

**To Reproduce**
Try downloading any version of Xcode using Xcodes

**Expected behavior**
It should work...

**Version**
 - OS: 13.0.1
 - Xcod

[2022-11-23 10:32] yossizahn commented on #329
Maybe applicable:
![CleanShot 2022-11-23 at 12 32 03@2x](https://user-images.githubusercontent.com/19174667/203525047-5d1b55f8-bd09-427d-80df-32f87273e32c.png)

[2022-11-24 11:01] yossizahn commented on #329
I got it
The hour from 2AM to 3AM on the specific date does not exist due to skipping an hour for DST :facepalm:

Now what?

[2022-11-24 11:05] yossizahn commented on #329
Test code:
[code]

[2022-11-24 11:37] yossizahn commented on #329
Found this:
https://stackoverflow.com/questions/71415071/swift-date-parsing-on-daylight-saving-time